<!-- COLORS -->
<div class="doc-content__block">
  <h1 id="colors">#Color Scheme</h1>
  <h3 id="colors-brand">Brand</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #FA0D60">
            <h1>$color__brand--1</h1>
            <p>#FA0D60</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #5656E3">
            <h1>$color__brand--2</h1>
            <p>#5656E3</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #1EA1FF">
            <h1>$color__brand--3</h1>
            <p>#1EA1FF</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #A7BBC9">
            <h1>$color__brand--4</h1>
            <p>#A7BBC9</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="colors-gray">Gray</h3>
  <p>Black</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #000">
            <h1>$color__black--1</h1>
            <p>#000</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #4F4F4F">
            <h1>$color__black--2</h1>
            <p>#4F4F4F</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>White</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-md-3">
        <div class="doc-color-block doc-color-block--light">
          <div class="doc-color-block__inner" style="background: #FFF">
            <h1>$color__white--1</h1>
            <p>#FFF</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block doc-color-block--light">
          <div class="doc-color-block__inner" style="background: #FBFCFD">
            <h1>$color__white--1</h1>
            <p>#FBFCFD</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block doc-color-block--light">
          <div class="doc-color-block__inner" style="background: #F7F9FA">
            <h1>$color__white--3</h1>
            <p>#F7F9FA</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>Dark Blue Gray</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #515A61">
            <h1>$color__dark-blue-gray--1</h1>
            <p>#515A61</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #707D87">
            <h1>$color__dark-blue-gray--2</h1>
            <p>#707D87</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #A1ACB5">
            <h1>$color__dark-blue-gray--3</h1>
            <p>#A1ACB5</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block doc-color-block--light">
          <div class="doc-color-block__inner" style="background: #BCC6CF">
            <h1>$color__dark-blue-gray--4</h1>
            <p>#BCC6CF</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block doc-color-block--light">
          <div class="doc-color-block__inner" style="background: #DCE1E5">
            <h1>$color__dark-blue-gray--5</h1>
            <p>#DCE1E5</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block doc-color-block--light">
          <div class="doc-color-block__inner" style="background: #E6EAED">
            <h1>$color__dark-blue-gray--6</h1>
            <p>#E6EAED</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>Light Yellow Gray</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-md-3">
        <div class="doc-color-block doc-color-block--light">
          <div class="doc-color-block__inner" style="background: #F5F5F0">
            <h1>$color__light-yellow-gray--1</h1>
            <p>#F5F5F0</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block doc-color-block--light">
          <div class="doc-color-block__inner" style="background: #F0F0EE">
            <h1>$color__light-yellow-gray--2</h1>
            <p>#F0F0EE</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block doc-color-block--light">
          <div class="doc-color-block__inner" style="background: #E3E3DE">
            <h1>$color__light-yellow-gray--3</h1>
            <p>#E3E3DE</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block doc-color-block--light">
          <div class="doc-color-block__inner" style="background: #D9D9D2">
            <h1>$color__light-yellow-gray--4</h1>
            <p>#D9D9D2</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="colors-colors">Colors</h3>
  <p>Morning, Afternoon &amp; Night</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #1EA1FF">
            <h1>$color__morning</h1>
            <p>#1EA1FF</p>
          </div>
          <div class="doc-color-block__inner" style="background: #33AAFF">
            <h1>$color__morning-alt--1</h1>
            <p>#33AAFF</p>
          </div>
          <div class="doc-color-block__inner" style="background: #00B7FE">
            <h1>$color__morning-alt--2</h1>
            <p>#00B7FE</p>
          </div>
          <div class="doc-color-block__inner" style="background: #00C1FE">
            <h1>$color__morning-alt--3</h1>
            <p>#00C1FE</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #F8BD1B">
            <h1>$color__afternoon</h1>
            <p>#F8BD1B</p>
          </div>
          <div class="doc-color-block__inner" style="background: #F5B916">
            <h1>$color__afternoon-alt--1</h1>
            <p>#F5B916</p>
          </div>
          <div class="doc-color-block__inner" style="background: #F8C332">
            <h1>$color__afternoon-alt--2</h1>
            <p>#F8C332</p>
          </div>
          <div class="doc-color-block__inner" style="background: #FFCA4C">
            <h1>$color__afternoon-alt--3</h1>
            <p>#FFCA4C</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #7F1EFF">
            <h1>$color__night</h1>
            <p>#7F1EFF</p>
          </div>
          <div class="doc-color-block__inner" style="background: #8B33FF">
            <h1>$color__night-alt--1</h1>
            <p>#8B33FF</p>
          </div>
          <div class="doc-color-block__inner" style="background: #9A4DFF">
            <h1>$color__night-alt--2</h1>
            <p>#9A4DFF</p>
          </div>
          <div class="doc-color-block__inner" style="background: #A561FF">
            <h1>$color__night-alt--3</h1>
            <p>#A561FF</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="colors-states">States</h3>
  <p>Success, Info, Warning &amp; Danger</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #41CC7B">
            <h1>$color__state--success</h1>
            <p>#41CC7B</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #1EA1FF">
            <h1>$color__state--info</h1>
            <p>#1EA1FF</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #F8BD1B">
            <h1>$color__state--warning</h1>
            <p>#F8BD1B</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background: #FA4141">
            <h1>$color__state--danger</h1>
            <p>#FA4141</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="colors-gradients">Gradients</h3>
  <p>Success, Info, Warning &amp; Danger</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background-image: linear-gradient(#76ACA3, #D1CD66)">
            <h1>$color__grad-morning-afternoon</h1>
            <p>#76ACA3</p>
            <span> - </span>
            <p>#D1CD66</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block">
          <div class="doc-color-block__inner" style="background-image: linear-gradient(#DF9D4B, #BF738A)">
            <h1>$color__grad-afternoon-night</h1>
            <p>#DF9D4B</p>
            <span> - </span>
            <p>#BF738A</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="colors-shadows">Shadows</h3>
  <p>Topdown</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-md-3">
        <div class="doc-color-block doc-color-block--shadow shadow--topdown--1">
          <div class="doc-color-block__inner">
            <h1>$shadow--topdown--1</h1>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block doc-color-block--shadow shadow--topdown--2">
          <div class="doc-color-block__inner">
            <h1>$shadow--topdown--2</h1>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="doc-color-block doc-color-block--shadow shadow--topdown--3">
          <div class="doc-color-block__inner">
            <h1>$shadow--topdown--3</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p>Wide</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-md-3">
        <div class="doc-color-block doc-color-block--shadow shadow--wide--1">
          <div class="doc-color-block__inner">
            <h1>$shadow--wide--1</h1>
          </div>
        </div>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-3">
        <div class="doc-color-block doc-color-block--shadow shadow--wide--2">
          <div class="doc-color-block__inner">
            <h1>$shadow--wide--2</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
