// --------------------------------------------------
//
//          __== ALTAR DOCUMENTATION ==__
//
// INDEX
//
//  #IMPORTS
//
//  #VARS
//
//  #STYLES
//
// --------------------------------------------------


// --------------------------------------------------
// #IMPORTS
// --------------------------------------------------

// core
@import '_core/core';





// --------------------------------------------------
// #VARS
// --------------------------------------------------

// $border
$doc__border-color: transparent; // $color__dark-blue-grey--6;
$doc__border-color__block: $color__dark-blue-grey--6;





// --------------------------------------------------
// #STYLES
// --------------------------------------------------

.doc-sidebar {
  width: 16.66666667% !important;
  height: 100vh;
  padding: 0 !important;
  border-right: 1px solid $doc__border-color;
  position: fixed !important;
  top: 0;
  left: 0;
  .doc-sidebar__header {
    height: 160px;
    position: relative;
    @include align(column center middle);
    & > img {
      width: 60%
    }
  }
  .doc-sidebar__content {
    border-top: 1px solid $doc__border-color;
    border-bottom: 1px solid $doc__border-color;
    .doc-sidebar__content__block {
      width: 100%;
      padding: 0 20px;
      h4 {
        width: 100%;
      }
      .doc-sidebar__content__block__content {
        a {
          width: 100%;
          display: block;
          padding: 5px 0;
          // font-size: 14px;
          font-weight: $font-weight--normal !important;
          margin-bottom: 5px;
        }
        margin-bottom: 20px;
      }
    }
  }
}

.doc-content {
  margin-left: 16.66666667% !important;
  box-sizing: border-box;
  padding: 0 60px !important;
  .doc-content__block {
    margin-bottom: 120px;
    & > h1 {
      font-size: 30px;
      margin-top: 60px;
      margin-bottom: 10px;
      & + a {
        $bs-size: 16px;
        $bs-color: #563d7c;
        $bs-pad: 4px;

        position: relative;
        margin-top: 15px;
        font-size: 10px;
        background: $bs-color;
        color: white;
        border-radius: 4px;
        padding: $bs-pad;
        // text-transform: uppercase;
        text-decoration: none !important;
        font-weight: $font-weight--light !important;
        @include anim;
        &:hover {
          background: lighten($bs-color, 15%);
        }
        &:active {
          background: darken($bs-color, 10%);
        }
        &:before {
          content: '';
          width: $bs-size;
          height: $bs-size;
          display: inline-block;
          position: relative;
          top: $bs-pad;
          margin-right: $bs-pad;
          background-image: url('data:image/svg+xml; utf8, <svg class="d-block" width="' + ($bs-size/1) + '" height="' + ($bs-size/1) + '" viewBox="0 0 612 612" xmlns="http://www.w3.org/2000/svg" focusable="false"><title>Bootstrap</title><path fill="#fff" d="M510 8a94.3 94.3 0 0 1 94 94v408a94.3 94.3 0 0 1-94 94H102a94.3 94.3 0 0 1-94-94V102a94.3 94.3 0 0 1 94-94h408m0-8H102C45.9 0 0 45.9 0 102v408c0 56.1 45.9 102 102 102h408c56.1 0 102-45.9 102-102V102C612 45.9 566.1 0 510 0z"></path><path fill="#fff" d="M196.77 471.5V154.43h124.15c54.27 0 91 31.64 91 79.1 0 33-24.17 63.72-54.71 69.21v1.76c43.07 5.49 70.75 35.82 70.75 78 0 55.81-40 89-107.45 89zm39.55-180.4h63.28c46.8 0 72.29-18.68 72.29-53 0-31.42-21.53-48.78-60-48.78h-75.57zm78.22 145.46c47.68 0 72.73-19.34 72.73-56s-25.93-55.37-76.46-55.37h-74.49v111.4z"></path></svg>');
          background-repeat: no-repeat;
        }
        &:after {
          content: '[docs]';
          color: rgba(white, .5);
          position: relative;
          display: inline-block;
          margin-left: $bs-pad;
        }
        // svg {
        //   position: relative;
        //   top: 5px;
        // }
      }
    }
    & > h3 {
      font-size: 20px;
      margin-top: 60px;
      font-weight: $font-weight--normal;
      span {
        color: $color__dark-blue-gray--4;
      }
    }
    & > p {
      font-size: 16px;
      // font-weight: $font-weight--normal;
      color: $color__dark-blue-gray--3;
      strong {
        // font-weight: $font-weight--bold;
        color: $color__black--2;
        // color: $color__brand--1;
      }
      span {
        color: $color__black--2;
        padding: 5px;
        border-radius: 4px;
        font-weight: normal;
        color: $color__brand--1;
        background: $color__light-yellow-gray--1;
      }
    }

    .doc-content__block__items {
      margin-bottom: 40px;
      & > .row {
        margin-bottom: 20px;
        & > [class*="col"] {
          margin-bottom: 20px;
        }
      }
      .doc-color-block {
        border-radius: 4px;
        overflow: hidden;
        .doc-color-block__inner {
          background: $color__white--1;
          padding: 20px 15px;
          // box-shadow: $shadow--topdown--3;
          & > h1 {
            font-size: 12px;
            line-height: 1.5;
            font-weight: $font-weight--light;
            color: $color__white--1;
            margin-top: 0;
            margin-bottom: 5px;
          }
          & > span {
            color: $color__white--1;
            opacity: .6;
          }
          & > p {
            font-size: 14px;
            line-height: 1.5;
            color: $color__white--1;
            margin-top: 0;
            margin-bottom: 0;
            opacity: .6;
            display: inline-block;
          }
        }
        &.doc-color-block--light,
        &.doc-color-block--shadow {
          .doc-color-block__inner {
            & > h1 {
              color: $color__black--2;
            }
            & > p {
              color: $color__black--2;
            }
          }
        }
        &.doc-color-block--light {
          border: 1px solid rgba($color__dark-blue-grey--6, .5);
        }

        &.shadow--topdown--1 {
          box-shadow: $shadow--topdown--1;
        }
        &.shadow--topdown--2 {
          box-shadow: $shadow--topdown--2;
        }
        &.shadow--topdown--3 {
          box-shadow: $shadow--topdown--3;
        }
        &.shadow--wide--1 {
          box-shadow: $shadow--wide--1;
        }
        &.shadow--wide--2 {
          box-shadow: $shadow--wide--2;
        }
      }

      .doc-code-block {
        border-radius: 4px;
        border: 1px solid $doc__border-color__block;
        overflow: hidden;
        .doc-code-block__inner {
          background: $color__white--1;
          padding: 20px;
          &.doc-code-block__inner--code {
            overflow: scroll;
            // padding: 15px 20px;
            font-weight: $font-weight--normal;
            color: $color__brand--3;
            border-top: 1px solid $doc__border-color__block;
            background: rgba($color__light-yellow-gray--1, .5);
          }
          .letter-row {
            margin-bottom: 20px;
            &:last-child {
              margin: 0;
            }
            .letter-col {
              display: inline-block;
              margin-right: 5px;
            }
          }

          &.doc-code-block__inner--scrollable {
            padding: 0;
            overflow-x: scroll;
            border-bottom: 1px solid $doc__border-color__block;
            &:last-child {
              border: none;
            }
            pre {
              border-top: 1px solid $doc__border-color__block;
              padding: 20px;
            }
          }

          &.doc-code-block__inner--button {
            padding: 40px 20px 10px;
            text-align: center;
            .sub {
              margin-top: 35px !important;
            }
          }

          &.doc-code-block__inner--form {
            .sub {
              margin-top: 15px !important;
            }
          }

          &.doc-code-block__inner--grid {
            .cont {
              background: $color__brand--2;
              color: white;
              padding: .75rem;
              border: 1px solid darken($color__brand--2, 10%);
            }
          }

          .typo-row {
            padding: 20px;
            .type-col {
              & > * {
                margin: 0;
                margin-bottom: 10px;
                white-space: nowrap;
              }
            }
          }
          .sub {
            color: $color__dark-blue-gray--3;
            // color: $color__brand--3;
            margin: 0 !important;
          }

          .font-weight {
            text-align: center;
            & + .sub {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

pre {
  width: 100%;
  padding: 0;
  color: $color__dark-blue-gray--4;
  margin: 0 !important;
  span {
    color: $color__brand--3;
  }
}
