<!-- CHECKBOX, RADIO BUTTONS AND TOGGLES -->
<div class="doc-content__block">
  <h1 id="forms-checkbox-radio-toggle">Checkbox, Radio Buttons and Toggles</h1>
  <a class="ext-doc ext-doc--bootstrap" href="https://getbootstrap.com/docs/4.0/components/forms/" target="_blank">Forms</a>

  <h3 id="forms-checkbox">Checkbox</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block doc-code-block--overflow-visible">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">Default checkbox</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" checked>
              <label class="form-check-label" for="defaultCheck2">Checked checkbox</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" disabled>
              <label class="form-check-label" for="defaultCheck3">Disabled checkbox</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck4" disabled checked>
              <label class="form-check-label" for="defaultCheck4">Disabled and checked checkbox</label>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ formCheckbox }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="forms-radio">Radio Buttons</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block doc-code-block--overflow-visible">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">Default radio</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">Second default radio</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios3" value="option3" disabled>
              <label class="form-check-label" for="exampleRadios3">Disabled radio</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios2" id="exampleRadios4" value="option4" disabled checked>
              <label class="form-check-label" for="exampleRadios4">Disabled radio</label>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ formRadioButtons }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="forms-toggle">Toggles</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block doc-code-block--overflow-visible">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <div class="form-check">
              <input class="form-check-toggle" type="checkbox" value="" id="defaultToggle1">
              <label class="form-check-label" for="defaultToggle1">Default toggle</label>
            </div>
            <div class="form-check">
              <input class="form-check-toggle" type="checkbox" value="" id="defaultToggle2" checked>
              <label class="form-check-label" for="defaultToggle2">Checked toggle</label>
            </div>
            <div class="form-check">
              <input class="form-check-toggle" type="checkbox" value="" id="defaultToggle3" disabled>
              <label class="form-check-label" for="defaultToggle3">Disabled toggle</label>
            </div>
            <div class="form-check">
              <input class="form-check-toggle" type="checkbox" value="" id="defaultToggle4" disabled checked>
              <label class="form-check-label" for="defaultToggle4">Disabled and checked toggle</label>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ formToggles }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
