// ------------------------------------------------------------------
//
// INDEX
//
//  #MIXINS
//    =alt_accordion__header__open
//    =alt_accordion__header
//    =alt_accordion
//
//  #STYLES
//    _accordion
//
// ------------------------------------------------------------------


// ------------------------------------------------------------------
// #STYLES
// ------------------------------------------------------------------

// =alt_accordion__header__open
@mixin alt_accordion__header__open {
  &.panel-open {
    .panel-heading {
      color: $color__brand--3;
      .panel-heading-container {
        &:before {
          transform: rotate(90deg) !important;
        }
      }
      .btn {
        background: $color__brand--3 !important;
        color: $color__white--1 !important;
      }
    }
  }
}

// =alt_accordion__header
@mixin alt_accordion__header {
  .panel-heading {
    height: 60px;
    padding: 0;
    background-color: $color__dark-blue-gray--6;
    color: $color__dark-blue-gray--2;
    border: none;
    @include align(middle);

    .panel-title {
      width: 100%;
      height: 100%;
      .accordion-toggle {
        width: 100%;
        height: 100%;
        .accordion-heading {
          height: 100%;
          @include align(row);
          .panel-heading-container {
            height: 100%;
            flex-grow: 1;
            text-align: left;
            font-size: 13px;
            padding-left: 40px;
            cursor: pointer;
            @include align(row middle);
            @include anim(all);
            @include icon(chevron-right) {
              margin-right: 10px;
              font-size: 14px;
              transform: rotate(0deg);
            }
            @include mq(iphone8plus) {
              padding-left: 10px;
            }

            .panel-heading-title {
              font-size: $font-size--small;
              text-transform: uppercase;
              @include anim;
            }

            .panel-heading-aside {
              padding-right: 40px;
              margin-left: auto;
              font-size: $font-size--small;
              font-weight: $font-weight--normal;
              color: $color__dark-blue-gray--2;
              text-transform: uppercase;
              @include mq(iphone8plus) {
                padding-right: 10px;
                display: none;
              }
            }
          }

          .btn {
            width: 130px;
            padding: 0;
            font-size: $font-size--small;
            font-weight: $font-weight--bold;
            background: $color__light-yellow-gray--1;
            color: $color__dark-blue-gray--4;
            border: none;
            @include anim;

            &:hover {
              background: $color__brand--3 !important;
              color: $color__white--1 !important;
            }
            &:active {
              background: lighten($color__brand--3, 10%) !important;
            }
            @include mq(iphone8plus) {
              width: 90px;
            }
          }
        }
      }
    }
  }
}

// =alt_accordion
@mixin alt_accordion {
  width: 100%;

  .panel-group {
    width: 100%;
    box-shadow: $shadow--wide--2;

    .panel {
      margin-bottom: 8px;
      border: none;

      &:last-child {
        margin-bottom: 0;
      }

      &.card {
        box-shadow: none;
      }

      // +alt_accordion__header
      @include alt_accordion__header;

      // +alt_accordion__header__open
      @include alt_accordion__header__open;
    }
  }
}





// ------------------------------------------------------------------
// #STYLES
// ------------------------------------------------------------------

// _accordion
.accordion {
  @include alt_accordion;
}
