// ------------------------------------------------------------------
//
// INDEX
//
//  #MIXINS
//    breadcrumbs --------------------
//      =alt_nav-container__breadcrumbs
//    navbar --------------------
//      =alt_nav-container__navbar-mobile
//      =alt_nav-container__navbar
//    theme --------------------
//      =alt_nav-container__navbar__theme--agency
//      =alt_nav-container__navbar__theme--jobseeker
//    nav-container --------------------
//      =alt_nav-container
//
//  #STYLES
//    _nav
//
//  #OVERRIDES
//
// ------------------------------------------------------------------


// ------------------------------------------------------------------
// #VARS
// ------------------------------------------------------------------

// flags
$alt_nav__mq: iphone8plus;

// $sizes
$alt_nav__navbar--height: $navbar__default--height;





// ------------------------------------------------------------------
// #MIXINS
// ------------------------------------------------------------------

// breadcrumbs --------------------

// =alt_nav-container__breadcrumbs__item
@mixin alt_nav-container__breadcrumbs__item {
  .breadcrumb-item {
    @include line-clamp(1);
    a {
      color: $color__black--2;
      font-size: $font-size--small;
      font-weight: $font-weight--light;
      &:hover,
      &:active,
      &:visited,
      &:focus {
        text-decoration: none;
      }
    }
    &.active {
      a {
        font-weight: $font-weight--bold;
      }
    }
    &:last-child {
      font-weight: $font-weight--bold;
    }
    & + .breadcrumb-item {
      @include icon(chevron-right) {
        font-size: 8px;
        font-weight: $font-weight--light;
        vertical-align: middle;
        color: $color__dark-blue-gray--5;
      }
      @include mq($alt_nav__mq) {
        @include icon(chevron-left) {
          font-size: 12px;
          font-weight: $font-weight--bold;
        }
      }
    }
  }
}

// =alt_nav-container__breadcrumbs
@mixin alt_nav-container__breadcrumbs {
  .breadcrumb {
    height: 40px;
    padding: 0 30px;
    margin: 0;
    background: $color__white--3;
    @include align(row middle);

    // +alt_nav-container__breadcrumbs__item
    @include alt_nav-container__breadcrumbs__item;

    // mq
    @include mq($alt_nav__mq) {
      height: $alt_nav__navbar--height;
      .breadcrumb-item {
        display: none;
        &:last-child {
          display: block;
          margin-left: auto;
          text-align: right;
          &:before {
            display: none;
          }
        }
        &:nth-last-child(2) {
          display: block;
          &:before {
            font-weight: $font-weight--bold;
          }
          a {
            font-weight: $font-weight--bold;
          }
        }
      }
    }
  }
}



// navbar --------------------

// =alt_nav-container__navbar-mobile
@mixin alt_nav-container__navbar-mobile {
  .navbar {
    &.navbar-mobile {
      height: $alt_nav__navbar--height;
      padding: 0;
      box-shadow: $shadow--downtop--2;
      @include align(row middle);
      .navbar-btns {
        width: 100%;
        height: 100%;
        @include align(row around);
        .btn {
          width: 100%;
          height: 100%;
          padding: 0 10px;
          padding-top: 25px;
          margin: 0;
          position: relative;
          i {
            margin-top: -25px;
            font-size: 14px;
            @include center(h);
          }
        }
      }
      @include mq($alt_nav__mq, min-width, true) {
        display: none;
      }
    }
  }
}

// =alt_nav-container__navbar
@mixin alt_nav-container__navbar {
  .navbar {
    height: $alt_nav__navbar--height;
    background: $color__white--1;
    padding: 0 30px;
    @include align(row between);
    @include mq($alt_nav__mq) {
      display: none;
    }

    .navbar-brand {
      #logo_snap {
        fill: $color__dark-blue-gray--4;
      }
      #logo_job {
        fill: $color__dark-blue-gray--2;
      }
    }

    .navbar-btns {
      & > .btn {
        margin-right: 30px;
        font-weight: $font-weight--bold;
        &:last-child {
          margin-right: 0;
        }
        &[class*="btn-ghost"] {
          padding: 0;
        }
        &.btn-outline-primary {
          padding: 0 20px;
        }
      }
      app-credits-widget {
        font-size: $font-size--small;
      }
    }
  }
}



// theme --------------------

// =alt_nav-container__navbar__theme--agency
@mixin alt_nav-container__navbar__theme--agency {
  &.nav--color--agency {
    .navbar-brand {
      .svg-color {
        fill: $color__brand--1 !important;
      }
    }
    @include mq($alt_nav__mq) {
      .breadcrumb {
        li {
          &:nth-last-child(2) {
            &:before {
              color: $color__brand--1;
            }
            & > a {
              color: $color__brand--1;
            }
          }
        }
      }
    }
    .navbar-mobile {
      .active {
        color: $color__brand--1 !important;
      }
    }
  }
}

// =alt_nav-container__navbar__theme--jobseeker
@mixin alt_nav-container__navbar__theme--jobseeker {
  &.nav--color--jobseeker {
    .navbar-brand {
      .svg-color {
        fill: yellow;
      }
    }
    @include mq($alt_nav__mq) {
      .breadcrumb {
        li {
          &:nth-last-child(2) {
            &:before {
              color: $color__brand--3;
            }
            & > a {
              color: $color__brand--3;
            }
          }
        }
      }
    }
    .navbar-mobile {
      .active {
        color: $color__brand--3;
      }
    }
  }
}



// nav-container --------------------

// =alt_nav-container
@mixin alt_nav-container {
  display: block;
  box-shadow: $shadow--topdown--2;
  z-index: 1000;

  // +alt_nav-container__navbar
  @include alt_nav-container__navbar;

  // +alt_nav-container__navbar-mobile
  @include alt_nav-container__navbar-mobile;

  // +alt_nav-container__breadcrumbs
  @include alt_nav-container__breadcrumbs;
}





// ------------------------------------------------------------------
// #STYLES
// ------------------------------------------------------------------

// _nav
.nav-container {
  // +alt_nav-container
  @include alt_nav-container;

  // +alt_nav-container__navbar__theme--agency
  @include alt_nav-container__navbar__theme--agency;

  // +alt_nav-container__navbar__theme--jobseeker
  @include alt_nav-container__navbar__theme--jobseeker;
}





// ------------------------------------------------------------------
// #OVERRIDES
// ------------------------------------------------------------------

.navbar-spacer {
  height: 100px;
  @include mq($alt_nav__mq) {
    height: 60px;
  }
}
