<!-- NG2: DATERANGEPICKER -->
<div class="doc-content__block">
  <h1 id="ng2-daterangepicker">Daterange Picker</h1>
  <a class="ext-doc ext-doc--bootstrap" href="https://getbootstrap.com/docs/4.0/components/forms/" target="_blank">Forms</a>
  <a class="ext-doc ext-doc--github" href="https://github.com/evansmwendwa/ng2-daterangepicker" target="_blank">ng2-daterangepicker</a>

  <h3 id="ng2-daterangepicker-single">Single Picker</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block doc-code-block--overflow-visible">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <form>
              <div class="form-group form-group-lg">
                <div class="label-group">
                  <label for="exampleInputEmail14">Input Name</label>
                </div>
                <div class="input-group">
                  <input type="text" class="form-control form-control-daterangepicker" id="exampleInputEmail14" name="daterangeInput" daterangepicker [options]="singlePickerOptions" (selected)="singleSelect($event)" readonly/>
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="alt_icon-calendar"></i></span>
                  </div>
                </div>
              </div>
            </form>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>form-group form-group-lg</span>"&gt;</pre>
            <pre>  &lt;div class="<span>label-group</span>"&gt;</pre>
            <pre>    &lt;label for="exampleInputEmail14"&gt;Input Name&lt;/label&gt;</pre>
            <pre>  &lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>input-group</span>"&gt;</pre>
            <pre>    &lt;input type="text" class="<span>form-control form-control-daterangepicker</span>" id="exampleInputEmail14" name="daterangeInput" <span>daterangepicker [options]="singlePickerOptions" (selected)="singleSelect($event)" readonly</span>/&gt;</pre>
            <pre>    &lt;div class="<span>input-group-prepend</span>"&gt;</pre>
            <pre>      &lt;span class="<span>input-group-text</span>"&gt;&lt;i class="<span>alt_icon-calendar</span>"&gt;&lt;/i&gt;&lt;/span&gt;</pre>
            <pre>    &lt;/div&gt;</pre>
            <pre>  &lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>

        </div>
      </div>
    </div>
  </div>

  <h3 id="ng2-daterangepicker-daterange">Daterange Picker</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <form>
              <div class="form-group form-group-lg">
                <div class="label-group">
                  <label for="exampleInputEmail15">Input Name</label>
                </div>
                <div class="input-group">
                  <input type="text" class="form-control form-control-daterangepicker" id="exampleInputEmail15" name="daterangeInput" daterangepicker [options]="datePickerOptions" (selected)="selectedDate($event, daterange)" readonly/>
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="alt_icon-calendar"></i></span>
                  </div>
                  <!-- <div class="input-group-append">
                    <span class="input-group-text">TO</span>
                  </div> -->
                </div>
              </div>
            </form>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>form-group form-group-lg</span>"&gt;</pre>
            <pre>  &lt;div class="<span>label-group</span>"&gt;</pre>
            <pre>    &lt;label for="exampleInputEmail15"&gt;Input Name&lt;/label&gt;</pre>
            <pre>  &lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>input-group</span>"&gt;</pre>
            <pre>    &lt;input type="<span>text</span>" class="<span>form-control form-control-daterangepicker</span>" id="exampleInputEmail15" name="daterangeInput" <span>daterangepicker [options]="datePickerOptions" (selected)="selectedDate($event, daterange)" readonly</span>/&gt;</pre>
            <pre>    &lt;div class="<span>input-group-prepend</span>"&gt;</pre>
            <pre>      &lt;span class="<span>input-group-text</span>"&gt;&lt;i class="<span>alt_icon-calendar</span>"&gt;&lt;/i&gt;&lt;/span&gt;</pre>
            <pre>    &lt;/div&gt;</pre>
            <pre>  &lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>

        </div>
      </div>
    </div>
  </div>

  <h3 id="ng2-daterangepicker-daterange-disabled">Daterange Picker <span>(disabled)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <form>
              <div class="form-group form-group-lg">
                <div class="label-group">
                  <label for="exampleInputEmail15">Input Name</label>
                </div>
                <div class="input-group">
                  <input type="text" class="form-control form-control-daterangepicker" id="exampleInputEmail15" name="daterangeInput" daterangepicker [options]="datePickerOptions" (selected)="selectedDate($event, daterange)" readonly disabled/>
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="alt_icon-calendar"></i></span>
                  </div>
                  <!-- <div class="input-group-append">
                    <span class="input-group-text">TO</span>
                  </div> -->
                </div>
              </div>
            </form>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>form-group form-group-lg</span>"&gt;</pre>
            <pre>  &lt;div class="<span>label-group</span>"&gt;</pre>
            <pre>    &lt;label for="exampleInputEmail15"&gt;Input Name&lt;/label&gt;</pre>
            <pre>  &lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>input-group</span>"&gt;</pre>
            <pre>    &lt;input type="<span>text</span>" class="<span>form-control form-control-daterangepicker</span>" id="exampleInputEmail15" name="daterangeInput" <span>daterangepicker [options]="datePickerOptions" (selected)="selectedDate($event, daterange)" readonly disabled</span>/&gt;</pre>
            <pre>    &lt;div class="<span>input-group-prepend</span>"&gt;</pre>
            <pre>      &lt;span class="<span>input-group-text</span>"&gt;&lt;i class="<span>alt_icon-calendar</span>"&gt;&lt;/i&gt;&lt;/span&gt;</pre>
            <pre>    &lt;/div&gt;</pre>
            <pre>  &lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
