<!-- TEXTAREA -->
<div class="doc-content__block">
  <h1 id="forms-textarea">Textarea</h1>
  <a class="ext-doc ext-doc--bootstrap" href="https://getbootstrap.com/docs/4.0/components/forms/" target="_blank">Forms</a>

  <h3 id="forms-textarea-default">Textarea Default</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block doc-code-block--overflow-visible">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <form>
              <div class="form-group">
                <div class="label-group">
                  <label for="exampleInputEmail1">Input Name</label>
                </div>
                <div class="input-group">
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                </div>
              </div>
            </form>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>form-group</span>"&gt;</pre>
            <pre>  &lt;div class="<span>label-group</span>"&gt;</pre>
            <pre>    &lt;label for="exampleFormControlTextarea1"&gt;Input Name&lt;/label&gt;</pre>
            <pre>  &lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>input-group</span>"&gt;</pre>
            <pre>    &lt;textarea class="<span>form-control</span>" id="exampleFormControlTextarea1" rows="<span>5</span>"&gt;&lt;/textarea&gt;</pre>
            <pre>  &lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>

        </div>
      </div>
    </div>
  </div>

  <h3 id="forms-textarea-default-disabled">Textarea Default <span>(disabled)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block doc-code-block--overflow-visible">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <form>
              <div class="form-group">
                <div class="label-group">
                  <label for="exampleFormControlTextarea2">Input Name</label>
                </div>
                <div class="input-group">
                  <textarea class="form-control" id="exampleFormControlTextarea2" rows="5" disabled></textarea>
                </div>
              </div>
            </form>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>form-group</span>"&gt;</pre>
            <pre>  &lt;div class="<span>label-group</span>"&gt;</pre>
            <pre>    &lt;label for="exampleFormControlTextarea1"&gt;Input Name&lt;/label&gt;</pre>
            <pre>  &lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>input-group</span>"&gt;</pre>
            <pre>    &lt;textarea class="<span>form-control</span>" id="exampleFormControlTextarea1" rows="<span>5</span>" <span>disabled</span>&gt;&lt;/textarea&gt;</pre>
            <pre>  &lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
