<!-- BUTTONS -->
<div id="buttons" class="doc-content__block">
  <h1>#Buttons</h1>
  <a class="ext-doc ext-doc--bootstrap" href="https://getbootstrap.com/docs/4.0/components/buttons/" target="_blank">Buttons</a>
  <a class="ext-doc ext-doc--ngx" href="https://valor-software.com/ngx-bootstrap/#/buttons" target="_blank">Buttons</a>

  <h3 id="typography-types-and-sizes">Types and Sizes</h3>
  <p>Define a button size with <span>btn-tiny</span>, <span>btn-small</span>, <span>btn</span>, <span>btn-big</span> or <span>btn-huge</span>. The default button size is <span>btn</span>.</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary btn-tiny">Button Tiny</button>
            <p class="sub">Button Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary btn-tiny</span>"&gt;Button Tiny&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-outline-primary btn-tiny">Button Tiny</button>
            <p class="sub">Button Outline</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-outline-primary btn-tiny</span>"&gt;Button Tiny&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-ghost-primary btn-tiny">Button Tiny</button>
            <p class="sub">Button Ghost</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-ghost-primary btn-tiny</span>"&gt;Button Tiny&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary btn-small">Button Small</button>
            <p class="sub">Button Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary btn-small</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-outline-primary btn-small">Button Small</button>
            <p class="sub">Button Outline</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-outline-primary btn-small</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-ghost-primary btn-small">Button Small</button>
            <p class="sub">Button Ghost</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-ghost-primary btn-small</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary">Button</button>
            <p class="sub">Button Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary</span>"&gt;primary">Button&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-outline-primary">Button</button>
            <p class="sub">Button Outline</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-outline-primary</span>"&gt;primary">Button&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-ghost-primary">Button</button>
            <p class="sub">Button Ghost</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-ghost-primary</span>"&gt;primary">Button&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary btn-big">Button Big</button>
            <p class="sub">Button Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary btn-big</span>"&gt;Button Big&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-outline-primary btn-big">Button Big</button>
            <p class="sub">Button Outline</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-outline-primary btn-big</span>"&gt;Button Big&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-ghost-primary btn-big">Button Big</button>
            <p class="sub">Button Ghost</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-ghost-primary btn-big</span>"&gt;Button Big&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary btn-huge">Button Huge</button>
            <p class="sub">Button Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary btn-huge</span>"&gt;Button Huge&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-outline-primary btn-huge">Button Huge</button>
            <p class="sub">Button Outline</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-outline-primary btn-huge</span>"&gt;Button Huge&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="typography-with-icons-left">With Icons (left)</h3>
  <p>Buttons with icons are an extend of a basic button but with an additional class. For example, <span>btn-icon-left-calendar</span> will let the element with text know the side of the icon and that it has to give space for it. The icon falls back to the <strong>Font Awesome</strong> icons but if icons are set on the <span>$iconfont</span> map in the <strong>_iconfont.scss</strong>, FontAwesome will be overrided.</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary btn-small btn-icon btn-icon-left-calendar">Button Small</button>
            <p class="sub">Button Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary btn-small btn-icon-left btn-icon-calendar</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-outline-primary btn-small btn-icon-left-calendar">Button Small</button>
            <p class="sub">Button Outline</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-outline-primary btn-small btn-icon-left-calendar</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-ghost-primary btn-small btn-icon-left-calendar">Button Small</button>
            <p class="sub">Button Ghost</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-ghost-primary btn-small btn-icon-left-calendar</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary btn-icon-left-calendar">Button</button>
            <p class="sub">Button Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary btn-icon-left-calendar</span>"&gt;calendar">Button&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-outline-primary btn-icon-left-calendar">Button</button>
            <p class="sub">Button Outline</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-outline-primary btn-icon-left-calendar</span>"&gt;calendar">Button&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-ghost-primary btn-icon-left-calendar">Button</button>
            <p class="sub">Button Ghost</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-ghost-primary btn-icon-left-calendar</span>"&gt;calendar">Button&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary btn-big btn-icon-left-calendar">Button Big</button>
            <p class="sub">Button Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary btn-big btn-icon-left-calendar</span>"&gt;Button Big&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-outline-primary btn-big btn-icon-left-calendar">Button Big</button>
            <p class="sub">Button Outline</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-outline-primary btn-big btn-icon-left-calendar</span>"&gt;Button Big&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-ghost-primary btn-big btn-icon-left-calendar">Button Big</button>
            <p class="sub">Button Ghost</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-ghost-primary btn-big btn-icon-left-calendar</span>"&gt;Button Big&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="typography-with-icons-right">With Icons (right)</h3>
  <p>Buttons with icons are an extend of a basic button but with an additional class. For example, <span>btn-icon-left-calendar</span> will let the element with text know the side of the icon and that it has to give space for it. The icon falls back to the <strong>Font Awesome</strong> icons but if icons are set on the <span>$iconfont</span> map in the <strong>_iconfont.scss</strong>, FontAwesome will be overrided.</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary btn-small btn-icon btn-icon-right-calendar">Button Small</button>
            <p class="sub">Button Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary btn-small btn-icon-right btn-icon-calendar</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-outline-primary btn-small btn-icon-right-calendar">Button Small</button>
            <p class="sub">Button Outline</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-outline-primary btn-small btn-icon-right-calendar</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-ghost-primary btn-small btn-icon-right-calendar">Button Small</button>
            <p class="sub">Button Ghost</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-ghost-primary btn-small btn-icon-right-calendar</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary btn-icon-right-calendar">Button</button>
            <p class="sub">Button Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary btn-icon-right-calendar</span>"&gt;calendar">Button&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-outline-primary btn-icon-right-calendar">Button</button>
            <p class="sub">Button Outline</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-outline-primary btn-icon-right-calendar</span>"&gt;calendar">Button&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-ghost-primary btn-icon-right-calendar">Button</button>
            <p class="sub">Button Ghost</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-ghost-primary btn-icon-right-calendar</span>"&gt;calendar">Button&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary btn-big btn-icon-right-calendar">Button Big</button>
            <p class="sub">Button Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary btn-big btn-icon-right-calendar</span>"&gt;Button Big&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-outline-primary btn-big btn-icon-right-calendar">Button Big</button>
            <p class="sub">Button Outline</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-outline-primary btn-big btn-icon-right-calendar</span>"&gt;Button Big&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-ghost-primary btn-big btn-icon-right-calendar">Button Big</button>
            <p class="sub">Button Ghost</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-ghost-primary btn-big btn-icon-right-calendar</span>"&gt;Button Big&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="typography-color-schemes">Color Schemes</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary">Default</button>
            <p class="sub">Button Default</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary</span>"&gt;Default&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-js-cta">JS-CTA</button>
            <p class="sub">Button JS-CTA</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-js-cta</span>"&gt;JS-CTA&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-ag-cta">AG-CTA</button>
            <p class="sub">Button AG-CTA</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-ag-cta</span>"&gt;AG-CTA&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-secondary">Secondary</button>
            <p class="sub">Button Secondary</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-secondary</span>"&gt;Secondary&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-light">Light</button>
            <p class="sub">Button Light</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-light</span>"&gt;Light&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="typography-state-schemes">State Schemes</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-success">Success</button>
            <p class="sub">Button Success</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-success</span>"&gt;Success&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-info">Information</button>
            <p class="sub">Button Information</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-info</span>"&gt;Information&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-warning">Warning</button>
            <p class="sub">Button Warning</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-warning</span>"&gt;Warning&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-danger">Danger</button>
            <p class="sub">Button Danger</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-danger</span>"&gt;Danger&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary" disabled>Disabled</button>
            <p class="sub">Button Disabled</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary</span>" <span>disabled</span>&gt;Disabled&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="typography-color-modifiers">Color Modifiers</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-js-cta btn-small">Button Small</button>
            <p class="sub">Button Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-js-cta btn-small</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-outline-js-cta btn-small">Button Small</button>
            <p class="sub">Button Outline</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-outline-js-cta btn-small</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-ghost-js-cta btn-small">Button Small</button>
            <p class="sub">Button Ghost</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-ghost-js-cta btn-small</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-js-cta btn-small btn-icon-left-calendar">Button Small</button>
            <p class="sub">Button Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-js-cta btn-small btn-icon-left-calendar</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-outline-js-cta btn-small btn-icon-right-calendar">Button Small</button>
            <p class="sub">Button Outline</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-outline-js-cta btn-small btn-icon-right-calendar</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-ghost-js-cta btn-small btn-icon-right-calendar">Button Small</button>
            <p class="sub">Button Ghost</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-ghost-js-cta btn-small btn-icon-right-calendar</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="typography-loading">Loading</h3>
  <p>Buttons with <span>btn-is-loading</span> class override icon classes such as the example with <span>btn-icon-left-calendar</span> or <span>btn-icon-right-calendar</span>.</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary btn-icon-left-calendar btn-is-loading" disabled>Button</button>
            <p class="sub">Button Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary btn-icon-left-calendar btn-is-loading</span>" <span>disabled</span>&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="typography-disabled">Disabled</h3>
  <p>Disabled buttons receive an <strong>disabled</strong> attribute.</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary btn-icon-calendar" disabled>Button</button>
            <p class="sub">Button Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary btn-icon-calendar</span>" <span>disabled</span>&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-outline-primary btn-icon-calendar" disabled>Button</button>
            <p class="sub">Button Outline</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-outline-primary btn-icon-calendar</span>" <span>disabled</span>&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-ghost-primary btn-icon-calendar" disabled>Button</button>
            <p class="sub">Button Ghost</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-ghost-primary btn-icon-calendar</span>" <span>disabled</span>&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="typography-text-transform">Text Transform</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-primary">Button Default</button>
            <p class="sub">Uppercase (Default)</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-primary</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-js-cta case-proper">Button Default</button>
            <p class="sub">Proper</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-js-cta case-proper</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--button">
            <button type="button" class="btn btn-ag-cta case-lower">Button Default</button>
            <p class="sub">Lowercase</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--scrollable">
            <pre>&lt;button type="<span>button</span>" class="<span>btn btn-ag-cta case-lower</span>"&gt;Button Small&lt;/button&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
