<!-- BUTTONS -->
<div id="buttons" class="doc-content__block">
  <h1>#Buttons</h1>
  <a class="ext-doc ext-doc--bootstrap" href="https://getbootstrap.com/docs/4.0/components/buttons/" target="_blank">Buttons</a>
  <a class="ext-doc ext-doc--ngx" href="https://valor-software.com/ngx-bootstrap/#/buttons" target="_blank">Buttons</a>





  <!-- BUTTON SIZE -->
  <h3 id="buttons-types-and-sizes">Types and Sizes</h3>
  <p>Define a button size with <span>btn-tiny</span>, <span>btn-small</span>, <span>btn</span>, <span>btn-big</span> or <span>btn-huge</span>. The default button size is <span>btn</span>.</p>
  <div class="doc-content__block__items">

    <!-- BUTTON SIZE: TINY -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button (Tiny)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary btn-tiny">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonTiny }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline (Tiny)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary btn-tiny">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineTiny }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost (Tiny)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary btn-tiny">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhostTiny }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>

    <!-- BUTTON SIZE: SMALL -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary btn-small">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonSmall }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary btn-small">Button Small</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineSmall }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary btn-small">Button Small</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhostSmall }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>

    <!-- BUTTON SIZE: DEFAULT -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ button }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutline }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhost }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>

    <!-- BUTTON SIZE: BIG -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button (Big)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary btn-big">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonBig }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline (Big)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary btn-big">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineBig }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost (Big)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary btn-big">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhostBig }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>

    <!-- BUTTON SIZE: HUGE -->
    <div class="row">
      <div class="col-6">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button (Huge)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary btn-huge">Button Huge</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonHuge }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button (Huge)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary btn-huge">Button Huge</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineHuge }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- ICONS LEFT -->
  <h3 id="buttons-with-icons-left">With Icons (left)</h3>
  <p>Buttons with icons are an extend of a basic button but with an additional class. For example, <span>btn-icon-left</span> will let the element with text know the side of the icon and that it has to give space for it. The icon falls back to the <strong>Font Awesome</strong> icons but if icons are set on the <span>$iconfont</span> map in the <strong>_iconfont.scss</strong>, FontAwesome will be overrided.</p>
  <div class="doc-content__block__items">

    <!-- ICONS LEFT: SMALL -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary btn-small btn-icon-left">
              <i class="air ai-calendar"></i>
              Button
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonSmallIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary btn-small btn-icon-left">
              <i class="air ai-calendar"></i>
              Button
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineSmallIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary btn-small btn-icon-left">
              <i class="air ai-calendar"></i>
              Button
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhostSmallIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>

    <!-- ICONS LEFT: NORMAL -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Normal</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary btn-icon-left">
              <i class="air ai-calendar"></i>
              Button
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary btn-icon-left">
              <i class="air ai-calendar"></i>
              Button
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary btn-icon-left">
              <i class="air ai-calendar"></i>
              Button
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhostIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>

    <!-- ICONS LEFT: BIG -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button (Big)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary btn-big btn-icon-left">
              <i class="air ai-calendar"></i>
              Button
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonBigIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline (Big)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary btn-big btn-icon-left">
              <i class="air ai-calendar"></i>
              Button
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineBigIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost (Big)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary btn-big btn-icon-left">
              <i class="air ai-calendar"></i>
              Button
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhostBigIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- ICONS RIGHT -->
  <h3 id="buttons-with-icons-right">With Icons (right)</h3>
  <p>Buttons with icons are an extend of a basic button but with an additional class. For example, <span>btn-icon-right</span> will let the element with text know the side of the icon and that it has to give space for it. The icon falls back to the <strong>Font Awesome</strong> icons but if icons are set on the <span>$iconfont</span> map in the <strong>_iconfont.scss</strong>, FontAwesome will be overrided.</p>
  <div class="doc-content__block__items">

    <!-- ICONS RIGHT: SMALL -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary btn-small btn-icon-right">
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonSmallIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary btn-small btn-icon-right">
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineSmallIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary btn-small btn-icon-right">
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhostSmallIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>

    <!-- ICONS RIGHT: NORMAL -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Normal</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary btn-icon-right">
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary btn-icon-right">
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary btn-icon-right">
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhostIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>

    <!-- ICONS RIGHT: BIG -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button (Big)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary btn-big btn-icon-right">
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonBigIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline (Big)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary btn-big btn-icon-right">
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineBigIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost (Big)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary btn-big btn-icon-right">
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhostBigIconLeft }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- ICONS BOTH -->
  <h3 id="buttons-with-icons-right">With Icons (both)</h3>
  <p>Buttons with icons are an extend of a basic button but with an additional class. For example, <span>btn-icon-both</span> will let the element with text know that has icons on both sides and that it has to give space for it. The icon falls back to the <strong>Font Awesome</strong> icons but if icons are set on the <span>$iconfont</span> map in the <strong>_iconfont.scss</strong>, FontAwesome will be overrided.</p>
  <div class="doc-content__block__items">

    <!-- ICONS BOTH: SMALL -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary btn-small btn-icon-both">
              <i class="air ai-calendar"></i>
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonSmallIconBoth }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary btn-small btn-icon-both">
              <i class="air ai-calendar"></i>
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineSmallIconBoth }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary btn-small btn-icon-both">
              <i class="air ai-calendar"></i>
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhostSmallIconBoth }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>

    <!-- ICONS BOTH: NORMAL -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Normal</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary btn-icon-both">
              <i class="air ai-calendar"></i>
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonIconBoth }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary btn-icon-both">
              <i class="air ai-calendar"></i>
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineIconBoth }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary btn-icon-both">
              <i class="air ai-calendar"></i>
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhostIconBoth }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>

    <!-- ICONS BOTH: BIG -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button (Big)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary btn-big btn-icon-both">
              <i class="air ai-calendar"></i>
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonBigIconBoth }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline (Big)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary btn-big btn-icon-both">
              <i class="air ai-calendar"></i>
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineBigIconBoth }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost (Big)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary btn-big btn-icon-both">
              <i class="air ai-calendar"></i>
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhostBigIconBoth }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>






  <!-- COLOR SCHEMES -->
  <h3 id="buttons-color-schemes">Color Schemes</h3>
  <div class="doc-content__block__items">

    <!-- COLOR SCHEMES: COLORS -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Default</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonColor }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button JS-CTA</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-js-cta">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonColorJsCta }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button AG-CTA</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ag-cta">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonColorAgCta }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Secondary</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-secondary">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonColorSecondary }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Gray Medium</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-gray-medium">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonColorGrayMedium }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Light</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-light">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonColorLight }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- STATE SCHEMES -->
  <h3 id="buttons-state-schemes">State Schemes</h3>
  <div class="doc-content__block__items">

    <!-- STATE SCHEMES: STATES -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Success</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-success">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonStatesSuccess }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Information</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-info">Information</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonStatesInformation }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Warning</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-warning">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonStatesWarning }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Danger</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-danger">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonStatesDanger }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Disabled</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary" disabled>Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonStatesDisabled }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- COLOR MODIFIERS -->
  <h3 id="buttons-color-modifiers">Color Modifiers</h3>
  <div class="doc-content__block__items">

    <!-- COLOR MODIFIERS: MODIFIERS -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button JS-CTA (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-js-cta btn-small">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonColorModifiersJsCtaSmall }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline JS-CTA</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-js-cta btn-small">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonColorModifiersOutlineJsCtaSmall }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost JS-CTA</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-js-cta btn-small">Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonColorModifiersGhostJsCtaSmall }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Iconleft (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-js-cta btn-small btn-icon-left">
              <i class="air ai-calendar"></i>
              Button
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonColorModifiersIconleftSmall }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline Iconboth (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-js-cta btn-small btn-icon-both">
              <i class="air ai-calendar"></i>
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonColorModifiersOutlineIconbothSmall }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost Iconright (Small)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-js-cta btn-small btn-icon-right">
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonColorModifiersGhostIconrightSmall }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- LOADING -->
  <h3 id="buttons-loading">Loading</h3>
  <p>Buttons with <span>btn-is-loading</span> class override icon classes such as the example with <span>btn-icon-left</span> or <span>btn-icon-right-calendar</span>.</p>
  <div class="doc-content__block__items">

    <!-- LOADING -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Loading</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary btn-icon-left btn-is-loading">
              <i class="air ai-calendar"></i>
              Button
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonLoading }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Outline Loading</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary btn-icon-left btn-is-loading">
              <i class="air ai-calendar"></i>
              Button
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineLoading }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Ghost Loading</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary btn-icon-left btn-is-loading">
              <i class="air ai-calendar"></i>
              Button
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhostLoading }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- DISABLED -->
  <h3 id="buttons-disabled">Disabled</h3>
  <p>Disabled buttons receive an <strong>disabled</strong> attribute.</p>
  <div class="doc-content__block__items">

    <!-- DISABLED: DEFAULT -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Disabled</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary" disabled>Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonDisabled }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Disabled</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary" disabled>Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineDisabled }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Disabled</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary" disabled>Button</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhostDisabled }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>

    <!-- DISABLED: ICONS -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Disabled</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary btn-icon-left" disabled>
              <i class="air ai-calendar"></i>
              Button
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonDisabledIconleft }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Disabled</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-outline-primary btn-icon-both" disabled>
              <i class="air ai-calendar"></i>
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonOutlineIconbothDisabled }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Button Disabled</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ghost-primary btn-icon-right" disabled>
              Button
              <i class="air ai-calendar"></i>
            </button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonGhostIconrightDisabled }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>





  <!-- TEXT TRANSFORM -->
  <h3 id="buttons-text-transform">Text Transform</h3>
  <div class="doc-content__block__items">

    <!-- TEXT TRANSFORM: OPTIONS -->
    <div class="row">
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Uppercase (Default)</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-primary">Button Default</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonTextTransformUppercase }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Proper</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-js-cta case-proper">Button Default</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonTextTransformProper }}
            </ngx-prism>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="doc-code-block">
          <div class="doc-code-block__title">Lowercase</div>
          <div class="doc-code-block__inner doc-code-block__inner--button">

            <button type="button" class="btn btn-ag-cta case-lower">Button Default</button>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ buttonTextTransformLowercase }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
