<!-- NGX: CHIPS -->
<div class="doc-content__block">
  <h1 id="ngx-chips">Chips</h1>
  <a class="ext-doc ext-doc--github" href="https://github.com/Gbuomprisco/ngx-chips" target="_blank">ngx-chips</a>

  <h3 id="ngx-chips-default">Chips Default</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block doc-code-block--overflow-visible">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <tag-input class="chips" [(ngModel)]='items'></tag-input>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;tag-input class="<span>chips</span>" <span>[(ngModel)]='items'</span>&gt;&lt;/tag-input&gt;</pre>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
