// --------------------------------------------------
//
// INDEX
//
//  #DEPENDENCIES
//    +/angular-star-rating
//
//  #STYLES
//    _avatar
//
//  #OVERRIDES
//
// --------------------------------------------------


// --------------------------------------------------
// #DEPENDENCIES
// --------------------------------------------------

// +/angular-star-rating
// @import '~angular-star-rating/assets/scss/star-rating';
@import '~css-star-rating/scss/star-rating.scss';





// --------------------------------------------------
// #STYLES
// --------------------------------------------------

// image --------------------

// =alt_avatar__img--primary
@mixin alt_avatar__img--primary {
  .avatar-img-primary {
    @include calc-col(180px);
    height: 100%;
    a {
      width: 100%;
      height: 100%;
      display: block;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

// =alt_avatar__img--secondary
@mixin alt_avatar__img--secondary {
  .avatar-img-secondary {
    @include calc-col(120px);
    height: 100%;
    margin-left: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}



// info --------------------

// =alt_avatar__info__name
@mixin alt_avatar__info__name {
  .avatar-info__name {
    // line-height: 1.2em;
    margin-bottom: 5px;
    font-size: $font-size--head-3;
    color: $color__dark-blue-gray--2;
    text-transform: uppercase;
    @include line-clamp(2, 1.2em);
  }
}

// =alt_avatar__info__rating
@mixin alt_avatar__info__rating {
  .rating {
    height: 12px;
    margin-bottom: 15px;
    @include align(left);
    .star-container {
      height: 100%;
      order: -1;
      .label-value {
        font-size: $font-size--tiny;
        font-weight: $font-weight--normal;
      }
      .star {
        width: 12px;
        height: 11px;
        margin-left: 4px;
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

// =alt_avatar__info__where
@mixin alt_avatar__info__where {
  .avatar-info__where {
    font-size: $font-size--small;
    font-weight: $font-weight--bold;
    color: $color__dark-blue-gray--4;
    margin-bottom: 5px;
  }
}

// =alt_avatar__info__time
@mixin alt_avatar__info__time {
  .avatar-info__time {
    font-size: $font-size--tiny;
    font-weight: $font-weight--normal;
    color: $color__dark-blue-gray--2;
  }
}

// =alt_avatar__info__actions
@mixin alt_avatar__info__actions {
  // button defaults
  .unlock,
  .invite,
  .avatar-info__tel,
  .avatar-info__email {
    margin-top: auto;
  }

  // link defaults
  .avatar-info__tel,
  .avatar-info__email {
    font-size: $font-size--tiny;
    color: $color__state--success;
    font-weight: $font-weight--normal;
    letter-spacing: $letter-spacing--1;
  }

  // mobile icon
  .avatar-info__tel {
    @include icon(mobile) {
      font-size: 20px;
      margin-right: 10px;
      vertical-align: middle;
    }
  }

  // overrides
  .btn-block {
    & + .btn-block {
      margin-top: 0 !important;
    }
  }
}

// =alt_avatar__info
@mixin alt_avatar__info {
  // info
  .avatar-info {
    width: 190px;
    max-width: 190px;
    flex: 0 0 190px;
    padding: 0 20px;
    @include align(column);

    // +alt_avatar__info__name
    @include alt_avatar__info__name;

    // +alt_avatar__info__rating
    @include alt_avatar__info__rating;

    // +alt_avatar__info__where
    @include alt_avatar__info__where;

    // +alt_avatar__info__time
    @include alt_avatar__info__time;

    // +alt_avatar__info__actions
    @include alt_avatar__info__actions;
  }
}



// type --------------------

// =alt_avatar--types
@mixin alt_avatar--types {
  // type: huge
  &.avatar-huge {
    height: 180px;

    &.mobile {
      // img secondary
      .avatar-img-secondary {
        display: none;
      }
    }
  }

  // type: big
  &.avatar-big {
    height: 100px;

    &.mobile {
      // img secondary
      .avatar-img-secondary {
        display: none;
      }
    }

    .avatar-info {
      // name
      .avatar-info__name {
        font-size: $font-size--small;
      }

      // rating
      .rating {
        margin-bottom: 10px;
      }

      // where
      .avatar-info__where {
        display: none;
      }

      // time
      .avatar-info__time {
        font-size: $font-size--tiny;
      }
    }

    // img primary
    .avatar-img-primary {
      @include calc-col(100px);
    }
    // img secondary
    .avatar-img-secondary {
      @include calc-col(75px);
    }
  }

  // type: small
  &.avatar-small {
    height: 60px;

    // img primary
    .avatar-img-primary {
      @include calc-col(60px);
      // margin-bottom: 5px;
    }

    // img secondary
    .avatar-img-secondary {
      display: none;
    }

    .avatar-info {
      // name
      .avatar-info__name {
        font-size: $font-size--small;
        @include line-clamp(1);
      }

      // rating
      .rating {
        margin-bottom: 5px;
        .label-value {
          display: none;
        }
      }

      // time
      .avatar-info__time {
        font-size: $font-size--tiny;
      }

      // where
      .avatar-info__where {
        display: none;
      }
    }
  }

  // type: circle
  &.circle {
    height: 40px;
    // img primary
    .avatar-img-primary {
      @include calc-col(40px);
      margin-bottom: 0;
      border-radius: 50%;
      overflow: hidden;
    }

    .avatar-info {
      width: auto;
      max-width: auto;
      flex: 0 0 auto;
      padding: 0 0 0 10px;

      // name
      .avatar-info__name {
        line-height: 40px;
        font-size: $font-size--small;
      }
    }
  }
}



// defaults --------------------

// =alt_avatar
@mixin alt_avatar {
  height: 180px;
  overflow: hidden;

  // defaults
  .row {
    height: 100%;
  }

  // +alt_avatar__img--primary
  @include alt_avatar__img--primary;

  // +alt_avatar__img--secondary
  @include alt_avatar__img--secondary;

  // +alt_avatar__info
  @include alt_avatar__info;
}





// --------------------------------------------------
// #STYLES
// --------------------------------------------------

// _avatar
.avatar {

  // =alt_avatar
  @include alt_avatar;

  // =alt_avatar--types
  @include alt_avatar--types;
}





// --------------------------------------------------
// #OVERRIDES
// --------------------------------------------------

// overrides
.rating {
  .color-negative {
    .star-container {
      .star {
        svg {
          fill: #0f0;
        }
        i {
          color: #0f0;
        }
      }
    }
  }
}

.rating.color-ok .star-container .star {
  svg {
    fill: #f00;
  }
  i {
    color: #f00;
  }
}

.rating.color-positive .star-container .star {
  svg {
    fill: #00f;
  }
  i {
    color: #00f;
  }
}

.rating.color-default .star-container .star {
  svg {
    fill: #ff0;
  }
  i {
    color: #ff0;
  }
}
