// --------------------------------------------------
//
// INDEX
//
//  #VARS
//    $defaults
//
//  #STYLES
//
// --------------------------------------------------


// --------------------------------------------------
// #VARS
// --------------------------------------------------

// $defaults
$job-card__height: 200px;
$job-card__height--iphone8: 370px;
$job-card__actions__height: 60px;





// --------------------------------------------------
// #STYLES
// --------------------------------------------------

// =alt_job-card__sidebar
@mixin alt_job-card__sidebar {
  .job-card__sidebar {
    max-width: 200px;
    height: 100%;
    z-index: 1;
    @include align(row center middle);
    .job-card__sidebar__price {
      width: 100%;
      height: 100%;
      flex: 1;
      text-align: center;
      @include align(column center middle);
      padding-top: 18px;
      .job-card__sidebar__price__flat {
        margin-top: -12px;
        line-height: $font-size--head-3;
        font-weight: $font-weight--bold;
        font-size: $font-size--head-3;
        letter-spacing: $letter-spacing--1;
        &:after {
          content: '€';
          font-weight: $font-weight--normal;
          font-size: $font-size--tiny;
          margin-left: 3px;
        }
      }
      .job-card__sidebar__price__hour {
        line-height: $font-size--tiny;
        font-size: $font-size--tiny;
        font-weight: $font-weight--normal;
        letter-spacing: $letter-spacing--2;
        text-transform: uppercase;
        margin-top: 10px;
      }
    }
    .job-card__sidebar__time {
      width: 100%;
      height: 100%;
      flex: 1;
      position: relative;
      padding-top: 24px;
      font-size: $font-size--tiny;
      font-weight: $font-weight--normal;
      text-transform: uppercase;
      letter-spacing: $letter-spacing--2;
      @include align(center middle);
      @include icon(clock) {
        width: 20px;
        height: 20px;
        line-height: 20px;
        font-size: 20px;
        display: block;
        margin-top: -16px;
        @include center;
      }
    }
    @include align(column center middle);
  }
}

// =alt_job-card__content
@mixin alt_job-card__content {
  .job-card__content {
    .job-card__content__info {
      // @include calc-col(12, 200px);
      height: calc(100% - #{$job-card__actions__height});
      padding: 20px 60px;
      @include align(column);
      .job-card__content__info__title {
        @include line-clamp(1);
        font-size: $font-size--head-3;
        text-transform: uppercase;
        font-weight: $font-weight--bold;
        letter-spacing: $letter-spacing--1;
        margin-bottom: 5px;
      }
      .job-card__content__info__description {
        font-size: $font-size--small;
        margin-bottom: 10px;
        @include line-clamp(2);
      }
      .job-card__content__info__origin {
        text-transform: uppercase;
        letter-spacing: $letter-spacing--1;
        font-size: $font-size--tiny;
        margin-top: auto;
        @include line-clamp(1);
      }
    }
    .job-card__content__action-big {
      // @include calc-col(200px);
      height: calc(100% - #{$job-card__actions__height});
      z-index: 2;
      .btn {
        height: 100%;
        padding: 0 20px;
      }
    }
    .job-card__content__type {
      height: $job-card__actions__height;
      .job-card__content__type__info {
        line-height: 1.2;
        text-align: center;
        font-size: $font-size--nano;
        padding: 10px;
        padding-top: 30px;
        font-weight: $font-weight--normal;
        position: relative;
        text-transform: uppercase;
        letter-spacing: $letter-spacing--2;
        &:before {
          width: 22px;
          height: 10px;
          font-size: 22px;
          @include center(h);
          top: 8px;
        }
        &.job-card__content__type__info--date {
          @include icon(sun);
        }
        &.job-card__content__type__info--time {
          @include icon(sun);
        }
        &.job-card__content__type__info--gender {
          @include icon(sun);
        }
      }
    }
    .job-card__content__actions {
      height: $job-card__actions__height;
      @include align(row center middle);
      .action {
        height: $job-card__actions__height;
        line-height: $job-card__actions__height;
        text-align: center;
        flex: 1;
        background: $color__white--1;
        border: none;
        color: $color__brand--1;
        font-size: $font-size--tiny;
        text-transform: uppercase;
        &:before {
          line-height: $job-card__actions__height;
          height: 100%;
          margin-right: 20%;
          font-size: 16px;
        }
        &.action-share {
          @include icon(share-alt);
        }
        &.action-like {
          @include icon(heart-o);
        }
      }
      .btn {
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
        padding: 0;
        &.btn-edit {
          padding: 0 20px;
          display: none !important;
        }
      }
    }
  }
}



// type --------------------

// +alt_job-card__type--no-social
@mixin alt_job-card__type--no-social {
  &.job-card--no-social {
    .job-card__content__type {
      @include calc-col(12);
    }
    .job-card__content__info {
      @include calc-col(10);
    }
    .job-card__content__action-big {
      @include calc-col(2);
    }
    .job-card__content__actions {
      display: none !important;
    }
  }
}

// +alt_job-card__type--button
@mixin alt_job-card__type--button {
  &.job-card--button {
    .job-card__content__type {
      @include calc-col(8);
    }
    .job-card__content__actions {
      @include calc-col(4);
      display: flex !important;
      .action {
        &.action-share {
          display: none;
        }
        &.action-like {
          display: none;
        }
      }
      .btn {
        &.btn-edit {
          display: block !important;
        }
      }
    }
  }
}

// +alt_job-card__type--button-small
@mixin alt_job-card__type--button-small {
  &.job-card--button-small {
    .job-card__content__type {
      @include calc-col(12, 150px);
    }
    .job-card__content__info {
      @include calc-col(12, 150px);
    }
    .job-card__content__action-big {
      @include calc-col(150px);
    }
    .job-card__content__actions {
      @include calc-col(150px);
      display: flex !important;
      .action {
        &.action-share {
          display: none;
        }
        &.action-like {
          display: none;
        }
      }
      .btn {
        &.btn-edit {
          display: block !important;
        }
      }
    }
  }
}



// theme --------------------

// =alt_job-card__theme--color
@mixin alt_job-card__theme--color {

  // themes: color
  &.job-card--color {

    // night
    &.night {
      .job-card__sidebar {
        .job-card__sidebar__price {
          color: $color__night;
          background: $color__white--1;
        }
        .job-card__sidebar__time {
          color: $color__night;
          background: $color__white--1;
        }
      }
      .job-card__content {
        .job-card__content__info {
          background: $color__night;
          .job-card__content__info__title,
          .job-card__content__info__description,
          .job-card__content__info__origin {
            color: $color__white--1;
          }
        }
        .job-card__content__type {
          background: $color__night;
        }
        .job-card__content__type {
          color: $color__white--1;
          .job-card__content__type__info {
            &.job-card__content__type__info--date {
              background: $color__night-alt--1;
            }
            &.job-card__content__type__info--time {
              background: $color__night-alt--2;
            }
            &.job-card__content__type__info--gender {
              background: $color__night-alt--3;
            }
          }
        }
      }
    }

    // afternoon
    &.afternoon {
      .job-card__sidebar {
        .job-card__sidebar__price {
          color: $color__afternoon;
          background: $color__white--1;
        }
        .job-card__sidebar__time {
          color: $color__afternoon;
          background: $color__white--1;
        }
      }
      .job-card__content {
        .job-card__content__info {
          background: $color__afternoon;
          .job-card__content__info__title,
          .job-card__content__info__description,
          .job-card__content__info__origin {
            color: $color__white--1;
          }
        }
        .job-card__content__type {
          background: $color__afternoon;
        }
        .job-card__content__type {
          color: $color__white--1;
          .job-card__content__type__info {
            &.job-card__content__type__info--date {
              background: $color__afternoon-alt--1;
            }
            &.job-card__content__type__info--time {
              background: $color__afternoon-alt--2;
            }
            &.job-card__content__type__info--gender {
              background: $color__afternoon-alt--3;
            }
          }
        }
      }
    }

    // morning
    &.morning {
      .job-card__sidebar {
        .job-card__sidebar__price {
          color: $color__morning;
          background: $color__white--1;
        }
        .job-card__sidebar__time {
          color: $color__morning;
          background: $color__white--1;
        }
      }
      .job-card__content {
        .job-card__content__info {
          background: $color__morning;
          .job-card__content__info__title,
          .job-card__content__info__description,
          .job-card__content__info__origin {
            color: $color__white--1;
          }
        }
        .job-card__content__type {
          background: $color__morning;
        }
        .job-card__content__type {
          color: $color__white--1;
          .job-card__content__type__info {
            &.job-card__content__type__info--date {
              background: $color__morning-alt--1;
            }
            &.job-card__content__type__info--time {
              background: $color__morning-alt--2;
            }
            &.job-card__content__type__info--gender {
              background: $color__morning-alt--3;
            }
          }
        }
      }
    }
  }
}

// =alt_job-card__theme--white
@mixin alt_job-card__theme--white {
  // themes: white
  &.job-card--white {
    .job-card__sidebar {
      .job-card__sidebar__price {
        color: $color__dark-blue-gray--2;
        background: $color__light-yellow-gray--3;
      }
      .job-card__sidebar__time {
        color: $color__dark-blue-gray--2;
        background: $color__light-yellow-gray--2;
      }
    }
    .job-card__content {
      .job-card__content__info {
        background: $color__white--1;
        .job-card__content__info__title {
          color: $color__dark-blue-gray--2;
        }
        .job-card__content__info__description,
        .job-card__content__info__origin {
          color: $color__dark-blue-gray--2;
        }
      }
      .job-card__content__type {
        background: $color__white--1;
        .job-card__content__type__info {
          color: $color__dark-blue-gray--2;
          background: $color__white--1;
        }
      }
    }
  }
}

// =alt_job-card__theme--gray
@mixin alt_job-card__theme--gray {
  // themes: gray
  &.job-card--gray {
    .job-card__sidebar {
      .job-card__sidebar__price {
        color: $color__dark-blue-gray--2;
        background: $color__light-yellow-gray--3;
      }
      .job-card__sidebar__time {
        color: $color__dark-blue-gray--2;
        background: $color__light-yellow-gray--2;
      }
    }
    .job-card__content {
      .job-card__content__info {
        background: $color__white--3;
        .job-card__content__info__title {
          color: $color__dark-blue-gray--2;
        }
        .job-card__content__info__description,
        .job-card__content__info__origin {
          color: $color__dark-blue-gray--2;
        }
      }
      .job-card__content__type {
        background: $color__white--3;
        .job-card__content__type__info {
          color: $color__dark-blue-gray--2;
          background: $color__white--3;
        }
      }
    }
  }
}



// mq --------------------

// =alt_job-card__mq
@mixin alt_job-card__mq {

  // mq: lg
  @include mq(lg) {
    .job-card__sidebar {
      max-width: 150px;
    }
    .job-card__content__info {
      @include calc-col(9);
    }
    .job-card__content__action-big {
      @include calc-col(3);
    }
  }

  // mq: md
  @include mq(md) {
    .job-card__sidebar {
      max-width: 100px;
    }
  }

  // mq: iphone8plus
  @include mq(iphone8plus) {
    height: 667px;

    // sidebar
    .job-card__sidebar {
      @include calc-col(12, 60px);
      position: absolute;
      @include align(row);

      height: 150px;
      top: 380px;
      margin-left: 30px;
      margin-right: 30px;
      box-shadow: $shadow--topdown--3;
      .job-card__sidebar__price {
        padding: 0;
      }
      .job-card__sidebar__time {
        margin: 0;
      }
    }

    // content
    .job-card__content {
      .job-card__content__info {
        @include calc-col(12);
        padding: 20px 30px;
        order: 1;

        height: 320px;
        padding-top: 120px;
      }
      .job-card__content__action-big {
        @include calc-col(12, 60px);
        order: 4;

        height: 60px;
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 150px;
        box-shadow: $shadow--topdown--3;
      }
      .job-card__content__type {
        @include calc-col(12);
        order: 2;

        padding-left: 30px;
        padding-right: 30px;
        box-shadow: $shadow--topdown--3;
      }
      .job-card__content__actions {
        @include calc-col(12, 60px);
        order: 5;

        height: 80px;
        line-height: 80px;
        display: flex !important;
        margin-left: 30px;
        margin-right: 30px;
        .action,
        .btn {
          height: 80px;
          line-height: 80px;
        }
        .action {
          background: transparent;
        }
      }
    }
  }

  // mq: iphone8
  @include mq(iphone8) {
    height: $job-card__height--iphone8;

    // sidebar
    .job-card__sidebar {
      @include calc-col(12);
      height: 80px;
      top: 210px;
      margin: 0;
      box-shadow: none;
    }

    // content
    .job-card__content {
      .job-card__content__info {
        height: 150px;
        padding-top: 20px;
      }
      .job-card__content__action-big {
        @include calc-col(12);
        height: 40px;
        margin-top: 80px;
        box-shadow: none;
        margin-left: 0;
        margin-right: 0;
      }
      .job-card__content__type {
        @include calc-col(12);
        padding: 0;
        box-shadow: none;
      }
      .job-card__content__actions {
        @include calc-col(12);
        height: 40px;
        margin: 0;
        .action,
        .btn {
          height: 40px;
          line-height: 40px;
          padding: 0;
          &:before {
            line-height: 40px;
          }
        }
        .action {
          background: white;
        }
      }
    }
  }
}



// defaults --------------------

// +alt_job-card
@mixin alt_job-card {
  width: 100%;
  height: $job-card__height;
  background: $color__light-yellow-gray--1;
  box-shadow: $shadow--topdown--3;
  overflow: hidden;
  .row {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .btn {
    line-height: 1.4em;
    white-space: normal;
  }

  // +alt_job-card__sidebar
  @include alt_job-card__sidebar;

  // +alt_job-card__content
  @include alt_job-card__content;



  // type --------------------

  // +alt_job-card__type--no-social
  @include alt_job-card__type--no-social;

  // +alt_job-card__type--button
  @include alt_job-card__type--button;

  // +alt_job-card__type--button-small
  @include alt_job-card__type--button-small;



  // themes --------------------

  // +alt_job-card__theme--color
  @include alt_job-card__theme--color;

  // +alt_job-card__theme--white
  @include alt_job-card__theme--white;

  // +alt_job-card__theme--gray
  @include alt_job-card__theme--gray;



  // mq --------------------

  // +alt_job-card__mq
  @include alt_job-card__mq;
}





// --------------------------------------------------
// #STYLES
// --------------------------------------------------

// _job-card
.job-card {
  // +alt_job-card
  @include alt_job-card;
}
