<!-- NOTIFICATIONS -->
<div id="notifications" class="doc-content__block">
  <h1>#Notifications</h1>
  <a class="ext-doc ext-doc--bootstrap" href="https://getbootstrap.com/docs/4.0/components/alerts/">Alerts</a>
  <a class="ext-doc ext-doc--ngx" href="https://valor-software.com/ngx-bootstrap/#/alerts">Alerts</a>

  <h3>Notifications</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner">

            <div class="alert-holder">
              <alert type="info" [dismissible]="dismissible">
                <div class="alert-body">
                  <strong>Well done!</strong> You successfully read this important alert message.
                </div>
                <div class="alert-button">
                  <button class="btn btn-outline-primary btn-tiny" type="button">Rate now</button>
                </div>
              </alert>

              <alert type="info" [dismissible]="dismissible">
                <div class="alert-body">
                  <strong>Well done!</strong> You successfully read this important alert message.
                </div>
              </alert>

              <alert type="warning" [dismissible]="dismissible">
                <div class="alert-body">
                  <strong>Warning!</strong> Better check yourself, you're not looking too good.
                </div>
                <div class="alert-button">
                  <button class="btn btn-outline-primary btn-tiny" type="button">Rate now</button>
                </div>
              </alert>

              <alert type="danger" [dismissible]="dismissible">
                <div class="alert-body">
                  <div class="title">job Creation failed!</div>
                  The Job creation failed because the filleds were not submited correctly. Please verify the fileds higlighted in red and try again. Thank you.
                </div>
              </alert>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ notifications }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
