// --------------------------------------------------
//
// INDEX
//
//  #MIXINS
//    =clickable
//
//  #EXAMPLES
//    [+1] turn element clickable
//
// --------------------------------------------------

// --------------------------------------------------
// #MIXINS
// --------------------------------------------------

// =clickable
@mixin clickable {
  cursor: pointer;
  backface-visibility: hidden;
  perspective: 1000;
}





// --------------------------------------------------
// #EXAMPLES
// --------------------------------------------------

// [+1] turn element clickable
// @include clickable;
