// --------------------------------------------------
//
// INDEX
//
//  #DEPENDENCIES
//    (../base/_iconfont.scss)
//    (../base/_variables.scss)
//
//  #VARS
//    $defaults
//
//  #MIXINS
//    =icon
//
//  #EXAMPLES
//    [+1] include an icon by name
//    [+2] include an icon by name giving specific position
//    [+3] include an icon by name giving specific position and without styles
//    [+4] include an icon by name giving specific position, specifying font-family and iconfont map
//
// --------------------------------------------------


// --------------------------------------------------
// #DEPENDENCIES
// --------------------------------------------------

// (../base/_iconfont.scss)
// (../base/_variables.scss)





// --------------------------------------------------
// #MIXINS
// --------------------------------------------------

// =icon
@mixin icon($_icon: false, $_position: before, $_styles: true) {
  $font-family: $font-family--icon; // fonticon default

  &:#{$_position} {
    @if $_icon {
      @if map-has-key($iconfont, $_icon) {
        content: "#{map-get($iconfont, $_icon)}";
      }
      @else if map-has-key($iconfont-fa, $_icon) {
        content: "#{map-get($iconfont-fa, $_icon)}";
        $font-family: 'FontAwesome'; // Font-Awesome fallback
      }
      @else {
        @warn "The icon: `#{$_icon}` is not a valid fonticon or a `Font-Awesome` fallback.";
      }
    }
    @if $_styles {
      speak: none;
      font-style: normal;
      font-weight: normal;
      font-family: $font-family;

      @if $font-family == 'FontAwesome' {
        display: inline-block;
        // font: normal normal normal 14px/1 FontAwesome;
        // font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    @content;
  }
}





// --------------------------------------------------
// #EXAMPLES
// --------------------------------------------------

// [+1] include an icon by name
// @include icon(search);

// [+2] include an icon by name giving specific position
// @include icon(search, after);

// [+3] include an icon by name giving specific position and without styles
// @include icon(search, after, false);

// [+4] include an icon by name giving specific position, specifying font-family and iconfont map
// @include icon(search, after, true, 'Font Awesome', $iconfont);
