// --------------------------------------------------
//
// INDEX
//
//  #DEPENDENCIES
//    (../base/_iconfont.scss)
//    (../base/_variables.scss)
//
//  #VARS
//    $defaults
//
//  #MIXINS
//    =icon
//
//  #EXAMPLES
//    [+1] include an icon by name
//    [+2] include an icon by name giving specific position
//    [+3] include an icon by name giving specific position and without styles
//
// --------------------------------------------------


// --------------------------------------------------
// #DEPENDENCIES
// --------------------------------------------------

// (../base/_iconfont.scss)
// (../base/_variables.scss)





// --------------------------------------------------
// #MIXINS
// --------------------------------------------------

// =icon-fa
@mixin icon-fa($_icon: false, $_position: before, $_styles: true, $_font-family: $font-family--icon-fa, $_icon-map: $iconfont-fa) {
  @if $_position == both {
    $_position: 'before, &:after';
  }
  &:#{$_position} {
    @if $_icon {
      content: "#{map-get($_icon-map, $_icon)}";
    }
    @if $_styles {
      speak: none;
      font-style: normal;
      font-weight: normal;
      display: inline-block;
      font-family: $_font-family;
      // font: normal normal normal 14px/1 FontAwesome;
      // font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    @content;
  }
}





// --------------------------------------------------
// #EXAMPLES
// --------------------------------------------------

// [+1] include an icon by name
// @include icon-fa(search);

// [+2] include an icon by name giving specific position
// @include icon-fa(search, after);

// [+3] include an icon by name giving specific position and without styles
// @include icon-fa(search, after, false);
