// ------------------------------------------------------------------
//
// INDEX
//
//  #DEPENDENCIES
//
//  #STYLES
//
// ------------------------------------------------------------------


// ------------------------------------------------------------------
// #DEPENDENCIES
// ------------------------------------------------------------------

// (../config/variables.scss)
// (../mixins/_user-select.scss)
// (../mixins/_font-size.scss)
// (../mixins/_on-event.scss)
// (../tools/_clickable.scss)





// ------------------------------------------------------------------
// #STYLES
// ------------------------------------------------------------------

// _html
html {
  box-sizing: border-box;
}

// _box-sizing
* {
  &,
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

// body {
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

a {
  font-weight: $font-weight--bold;
}
