// --------------------------------------------------
//
// INDEX
//
//  #MAPS
//    $alt_icons--icon-map
//
// --------------------------------------------------


// ------------------------------------------------------------------
// #MAPS
// ------------------------------------------------------------------

// $alt_icons--icon-map (ex: key = calendar: value = 'calendar')
// for buttons and alt_icon usage
$alt_icons--icon-map: (
  calendar:  'calendar-o',
  info:      'info',
);





// ------------------------------------------------------------------
// #STYLES
// ------------------------------------------------------------------

// _alt_icons
[class*="alt_icon"] {
  @each $_icon in $alt_icons--icon-map {
    $key: nth($_icon, 1);
    $value: nth($_icon, 2);

    &[class*="-#{$key}"] {
      @include icon($value);
    }
  }
}
