// ------------------------------------------------------------------
//
// INDEX
//
//  #DEPENDENCIES
//
//  #STYLES
//
// ------------------------------------------------------------------


// ------------------------------------------------------------------
// #DEPENDENCIES
// ------------------------------------------------------------------

// (../config/variables.scss)
// (../mixins/_user-select.scss)
// (../mixins/_font-size.scss)
// (../mixins/_on-event.scss)
// (../tools/_clickable.scss)





// ------------------------------------------------------------------
// #STYLES
// ------------------------------------------------------------------

// body
// body {
//   // font-family: $font-family--primary;
//   font-weight: $font-weight--light;
//   line-height: $line-height--4;
//   // text-align: justify;
// }

// headings
h1, h2, h3, h4 {
  font-weight: $font-weight--bold;
  line-height: $line-height--1;
  // margin-top: $header__margin-top;
  margin-top: 0;
  margin-bottom: $header__margin-bottom;
}
h4 {
  text-transform: uppercase;
}
h1 {
  font-size: $font-size--head-1;
}
h2 {
  font-size: $font-size--head-2;
}
h3 {
  font-size: $font-size--head-3;
}
h4 {
  font-size: $font-size--head-4;
}

p {
  line-height: $line-height--4;
  &:last-child {
    margin-bottom: 0;
  }
}

.text-jumbo {
  font-size: $font-size--jumbo;
}
.text-head-size-1 {
  font-size: $font-size--head-1;
}
.text-head-size-2 {
  font-size: $font-size--head-2;
}
.text-head-size-3 {
  font-size: $font-size--head-3;
}
.text-head-size-4 {
  font-size: $font-size--head-4;
}
.text-lead {
  font-size: $font-size--lead;
}
.text-small {
  line-height: $line-height--3;
  font-size: $font-size--small;
}
.text-tiny,
.text-nano {
  line-height: $line-height--2;
}
.text-tiny {
  font-size: $font-size--tiny;
}
.text-nano {
  font-size: $font-size--nano;
}



.font-weight-light {
  font-weight: $font-weight--light;
}
.font-weight-normal {
  font-weight: $font-weight--normal;
}
.font-weight-bold {
  font-weight: $font-weight--bold;
}
