// --------------------------------------------------
//
// INDEX
//
//  #VARS
//
// --------------------------------------------------

// --------------------------------------------------
// #VARS
// --------------------------------------------------

// $flags --------------------

// $flags: grid
$grid__vertical-gutters: false;



// $body --------------------

// $body: defaults
$body__color__background:             $color__white--1;
$body__color__text:                   $color__black--2;
$body__color__highlight--background:  $color__brand--1;
$body__color__highlight--text:        $color__white--1;



// $breakpoints --------------------

// $breakpoints: points
$alt_breakpoints: (
  xl: 1280px,
  lg: 1024px,
  md: 768px,
  sm: 568px,

  // ios
  iphone8plus: 414px,
  iphone8: 375px,
) !default;



// $grid --------------------

// $grid: defaults
$grid__default--columns:              12 !default;
$grid__default--gutter-width:         30px !default;



// $paths --------------------

// $paths: paths
$path__assets:                        '/assets/';
$path__images:                        $path__assets + 'images/';
$path__fonts:                         $path__assets + 'fonts/';



// $fonts --------------------

// $fonts: font-family
$font-family--primary:                'Montserrat', sans-serif;
$font-family--code:                   monospace, monospace;
$font-family--icon:                   'altaricons';

// $fonts: letter-spacing
$letter-spacing--1:                   1px;
$letter-spacing--2:                   1.5px;
$letter-spacing--3:                   3px;

// $fonts: sizes
$font-size--default:                  1em;    // 16px
$font-size--jumbo:                    3.06em; // 48px
$font-size--head-1:                   1.95em; // 31px
$font-size--lead:                     1.75em; // 28px
$font-size--head-2:                   1.56em; // 24px
$font-size--head-3:                   1.25em; // 20px
$font-size--small:                    0.83em; // 13px
$font-size--head-4:                   0.8em;  // 12px
$font-size--tiny:                     0.69em; // 11px
$font-size--nano:                     0.58em; // 9px

// $fonts: line-height
$line-height__base:                   1.5em;
$line-height--1:                      100%;
$line-height--2:                      150%;
$line-height--3:                      170%;
$line-height--4:                      200%;

// $fonts: font-weight
$font-weight--light:                  300;
$font-weight--normal:                 400;
$font-weight--bold:                   700;

// $font-weight__default:    $font-weight--light;

// $fonts: margins
$header__margin-top:                  2em;
$header__margin-bottom:               1em;



// $border --------------------

// $border: border
$border-radius__default:              0;
$border-width__default:               1px;
$border-width__default--sm:           2px;
$border-width__default--lg:           4px;




// $buttons --------------------

// $buttons: sizes normal
$button__height:                      40px;
$button__line-height:                 $button__height - ($border-width__default*2);
$button__font-size:                   $font-size--head-4;
$button__border-width:                $border-width__default--sm;
$button__font-weight:                 $font-weight--bold;
$button__padding-x:                   32px;
$button__padding-y:                   0px;
$button__letter-spacing:              $letter-spacing--2;

// $buttons: sizes tiny
$button__height-tiny:                 20px;
$button__line-height-tiny:            $button__height-tiny - ($border-width__default*2);
$button__font-size-tiny:              $font-size--nano;
$button__border-width-tiny:           $border-width__default;
$button__font-weight-tiny:            $font-weight--normal;
$button__padding-x-tiny:              12px;
$button__padding-y-tiny:              0px;
$button__letter-spacing-tiny:         $letter-spacing--2;

// $buttons: sizes small
$button__height-small:                26px;
$button__line-height-small:           $button__height-small - ($border-width__default*2);
$button__font-size-small:             $font-size--tiny;
$button__border-width-small:          $border-width__default;
$button__font-weight-small:           $font-weight--normal;
$button__padding-x-small:             24px;
$button__padding-y-small:             0px;
$button__letter-spacing-small:        $letter-spacing--2;

// $buttons: sizes big
$button__height-big:                  60px;
$button__line-height-big:             $button__height-big - ($border-width__default*2);
$button__font-size-big:               $font-size--default;
$button__border-width-big:            $border-width__default--sm;
$button__font-weight-big:             $font-weight--bold;
$button__padding-x-big:               40px;
$button__padding-y-big:               0px;
$button__letter-spacing-big:          $letter-spacing--2;

// $buttons: sizes huge
$button__height-huge:                 140px;
$button__line-height-huge:            $button__height-huge - ($border-width__default*2);
$button__font-size-huge:              $font-size--default;
$button__border-width-huge:           $border-width__default--sm;
$button__font-weight-huge:            $font-weight--bold;
$button__padding-x-huge:              70px;
$button__padding-y-huge:              0px;
$button__letter-spacing-huge:         $letter-spacing--2;



// $forms --------------------

// $forms: input
$input__height:                       40px;
$input__padding-x:                    15px;
$input__padding-y:                    0;
$input__line-height:                  $line-height__base;
$input__font-size:                    $font-size--small;
$input__border-radius:                0px;

// $forms: input small
$input__height-sm:                    20px;
$input__padding-x-sm:                 8px;
$input__padding-y-sm:                 0;
$input__line-height-sm:               $line-height__base;
$input__font-size-sm:                 $font-size--tiny;
$input__border-radius-sm:             0px;

// $forms: input large
$input__height-lg:                    60px;
$input__padding-x-lg:                 20px;
$input__padding-y-lg:                 0;
$input__line-height-lg:               $line-height__base;
$input__font-size-lg:                 $font-size--default;
$input__border-radius-lg:             0px;

// $forms: base
$input__bg:                           $color__white--1;
$input__color:                        $color__dark-blue-gray--2;
$input__border-color:                 $color__dark-blue-gray--4;
$input__border-width:                 1px;
$input__box-shadow:                   none;
$input__placeholder--color:           $color__dark-blue-gray--5;

// $forms: disabled
$input__disabled__bg:                 $color__light-yellow-gray--2; // $color__dark-blue-gray--6;
$input__disabled__color:              $color__dark-blue-gray--5;
$input__disabled__border-color:       $input__border-color;

// $forms: focus
$input__focus-border-color:           $color__afternoon;
$input__focus-color:                  $color__dark-blue-gray--2;
$input__focus-width:                  $input__border-width;
$input__focus-box-shadow:             $input__box-shadow;

// $forms: group
// $form-group__margin-bottom:           8px;

// $forms: checkbox
$input__checkbox__size:               18px;
$input__checkbox__size--inner:        10px;
$input__checkbox__gutter:             25px; // left gutter fix
$input__checkbox__margin--y:          .3rem;
$input__checkbox__margin--x:          .25rem;
$input__checkbox__color:              $color__dark-blue-gray--2;



// $links --------------------

// $links: colors
$link__color:                         $color__brand--3;



// $transition --------------------

// $transition: base
$transition__base:                    all .25s ease-in-out;
$transition__base--noprop:            .25s;



// $shadows --------------------

// $shadows: topdown
$shadow--topdown--1:                  0px 1px 6px rgba($color__black--1, .02);
$shadow--topdown--2:                  0px 2px 6px rgba($color__black--1, .18);
$shadow--topdown--3:                  0px 4px 12px rgba($color__black--1, .18);

// $shadows: wide
$shadow--wide--1:                     0px 0px 160px rgba($color__light-yellow-gray--2, 1);
$shadow--wide--2:                     0px 0px 160px rgba($color__light-yellow-gray--2, 1), 0px 4px 4px rgba($color--black--1, .05);
