// --------------------------------------------------
//
// INDEX
//
//  #VARS
//
// --------------------------------------------------


// --------------------------------------------------
// #VARS
// --------------------------------------------------

// $flags
// --------------------
$grid__vertical-gutters: false;



// $body
// --------------------
$body__color__background:             $color__white--1;
$body__color__text:                   $color__black--2;
$body__color__highlight--background:  $color__brand--1;
$body__color__highlight--text:        $color__white--1;



// $breakpoints
// --------------------
$alt_breakpoints: (
  sm: 568px,
  md: 768px,
  lg: 1024px,
  xl: 1280px
) !default;



// $grid
// --------------------
$grid__default--columns:              12 !default;
$grid__default--gutter-width:         30px !default;



// $paths
// --------------------
$path__assets:                        '/assets/';
$path__images:                        $path__assets + 'images/';
$path__fonts:                         $path__assets + 'fonts/';



// $fonts
// --------------------

// font-family
$font-family--primary:                'Montserrat', sans-serif;
$font-family--code:                   monospace, monospace;
$font-family--icon:                   'altaricons';

// letter-spacing
$letter-spacing--1:                   0%;
$letter-spacing--2:                   10%;
$letter-spacing--3:                   20%;

// sizes
$font-size--default:                  1em;
$font-size--jumbo:                    3.06em;
$font-size--head-1:                   1.95em;
$font-size--lead:                     1.75em;
$font-size--head-2:                   1.56em;
$font-size--head-3:                   1.25em;
$font-size--small:                    0.83em;
$font-size--head-4:                   0.8em;
$font-size--tiny:                     0.69em;
$font-size--nano:                     0.58em;

// line-height
$line-height__base:                   1.5;
$line-height--1:                      100%;
$line-height--2:                      150%;
$line-height--3:                      170%;
$line-height--4:                      200%;

// font-weight
$font-weight--light:                  300;
$font-weight--normal:                 400;
$font-weight--bold:                   700;

// $font-weight__default:    $font-weight--light;

// margins
$header__margin-top:                  2em;
$header__margin-bottom:               1em;



// $border
// --------------------

// border
$border-radius__default:              0;
$border-width__default:               1px;
$border-width__default--sm:           2px;
$border-width__default--lg:           4px;
$border__color:                       tomato;




// $buttons
// --------------------

// sizes
$button__height:                      40px;
$button__line-height:                 $button__height - ($border-width__default*2);
$button__font-size:                   $font-size--head-4;
$button__border-width:                $border-width__default--sm;
$button__font-weight:                 $font-weight--bold;
$button__padding-x:                   32px;
$button__padding-y:                   0px;
$button__letter-spacing:              $letter-spacing--2;

$button__height-tiny:                 20px;
$button__line-height-tiny:            $button__height-tiny - ($border-width__default*2);
$button__font-size-tiny:              $font-size--nano;
$button__border-width-tiny:           $border-width__default;
$button__font-weight-tiny:            $font-weight--normal;
$button__padding-x-tiny:              12px;
$button__padding-y-tiny:              0px;
$button__letter-spacing-tiny:         $letter-spacing--2;

$button__height-small:                26px;
$button__line-height-small:           $button__height-small - ($border-width__default*2);
$button__font-size-small:             $font-size--tiny;
$button__border-width-small:          $border-width__default;
$button__font-weight-small:           $font-weight--normal;
$button__padding-x-small:             24px;
$button__padding-y-small:             0px;
$button__letter-spacing-small:        $letter-spacing--2;

$button__height-big:                  60px;
$button__line-height-big:             $button__height-big - ($border-width__default*2);
$button__font-size-big:               $font-size--default;
$button__border-width-big:            $border-width__default--sm;
$button__font-weight-big:             $font-weight--bold;
$button__padding-x-big:               40px;
$button__padding-y-big:               0px;
$button__letter-spacing-big:          $letter-spacing--2;

$button__height-huge:                 140px;
$button__line-height-huge:            $button__height-huge - ($border-width__default*2);
$button__font-size-huge:              $font-size--default;
$button__border-width-huge:           $border-width__default--sm;
$button__font-weight-huge:            $font-weight--bold;
$button__padding-x-huge:              70px;
$button__padding-y-huge:              0px;
$button__letter-spacing-huge:         $letter-spacing--2;



// $forms
// --------------------

$input__height:                       40px;
$input__padding-x:                    15px;
$input__padding-y:                    0;
$input__line-height:                  $line-height__base;
$input__font-size:                    $font-size--small;
$input__border-radius:                0px;

$input__height-sm:                    20px;
$input__padding-x-sm:                 8px;
$input__padding-y-sm:                 0;
$input__line-height-sm:               $line-height__base;
$input__font-size-sm:                 $font-size--tiny;
$input__border-radius-sm:             0px;

$input__height-lg:                    60px;
$input__padding-x-lg:                 20px;
$input__padding-y-lg:                 0;
$input__line-height-lg:               $line-height__base;
$input__font-size-lg:                 $font-size--default;
$input__border-radius-lg:             0px;

$input__bg:                           $color__white--1;
$input__color:                        $color__dark-blue-gray--2;
$input__border-color:                 $color__dark-blue-gray--4;
$input__border-width:                 1px;
$input__box-shadow:                   none;

$input__focus-border-color:           $color__afternoon;
$input__focus-color:                  $color__dark-blue-gray--2;
$input__focus-width:                  $input__border-width;
$input__focus-box-shadow:             $input__box-shadow;

// group
// $form-group__margin-bottom:           8px;



// $links
// --------------------
$link__color:                         $color__brand--3;



// $transition
// --------------------
$transition__base:                    all .25s ease-in-out;
$transition__base--noprop:            .25s ease-in-out;



// $shadows
// --------------------

// topdown
$shadow--topdown--1:                  0px 1px 6px rgba($color__black--1, .05);
$shadow--topdown--2:                  0px 2px 6px rgba($color__black--1, .05);
$shadow--topdown--3:                  0px 4px 12px rgba($color__black--1, .05);

// wide
$shadow--wide--1:                     0px 0px 160px rgba($color__light-yellow-gray--2, 1);
$shadow--wide--2:                     0px 0px 160px rgba($color__light-yellow-gray--2, 1), 0px 4px 4px rgba($color--black--1, .05);
