<div class="container-fluid">
  <div class="row">

    <!-- SIDEBAR -->
    <div class="col-2 doc-sidebar">
      <div class="doc-sidebar__header">
        <img src="https://cdn-images-1.medium.com/max/1200/1*JfzYE8YzYXsIhfDHS8e2Sw.jpeg" alt="">
      </div>
      <div class="doc-sidebar__content">
        <div class="doc-sidebar__content__block">
          <h4>Page Components</h4>
          <div class="doc-sidebar__content__block__content">
            <div class="block">
              <a routerLink="/job" routerLinkActive="active" class="block__item">Job</a>
              <a routerLink="/avatar" routerLinkActive="active" class="block__item">Avatar</a>
            </div>
          </div>
        </div>

        <div class="doc-sidebar__content__block">
          <h4>Components</h4>
          <div class="doc-sidebar__content__block__content">

            <!-- COLORS -->
            <div class="block">
              <a routerLink="/colors" routerLinkActive="active" fragment="colors" class="block__item">Color Scheme</a>
              <a routerLink="/colors" routerLinkActive="active" fragment="colors-brand" class="block__subitem">Brand</a>
              <a routerLink="/colors" routerLinkActive="active" fragment="colors-gray" class="block__subitem">Gray</a>
              <a routerLink="/colors" routerLinkActive="active" fragment="colors-colors" class="block__subitem">Colors</a>
              <a routerLink="/colors" routerLinkActive="active" fragment="colors-states" class="block__subitem">States</a>
              <a routerLink="/colors" routerLinkActive="active" fragment="colors-gradients" class="block__subitem">Gradients</a>
              <a routerLink="/colors" routerLinkActive="active" fragment="colors-shadows" class="block__subitem">Shadows</a>
            </div>

            <!-- TYPOGRAPHY -->
            <div class="block">
              <a routerLink="/typography" routerLinkActive="active" fragment="typography" class="block__item">Typography</a>
              <a routerLink="/typography" routerLinkActive="active" fragment="typography-Typefaces" class="block__subitem">Typefaces</a>
              <a routerLink="/typography" routerLinkActive="active" fragment="typography-Font-Sizes" class="block__subitem">Font Sizes</a>
              <a routerLink="/typography" routerLinkActive="active" fragment="typography-Font-Styles" class="block__subitem">Font Styles</a>
              <a routerLink="/typography" routerLinkActive="active" fragment="typography-Font-Weights" class="block__subitem">Font Weights</a>
            </div>

            <!-- BUTTONS -->
            <div class="block">
              <a routerLink="/buttons" routerLinkActive="active" fragment="buttons" class="block__item">Buttons</a>
              <a routerLink="/buttons" routerLinkActive="active" fragment="typography-types-and-sizes" class="block__subitem">Types and Sizes</a>
              <a routerLink="/buttons" routerLinkActive="active" fragment="typography-with-icons-left" class="block__subitem">With Icons (left)</a>
              <a routerLink="/buttons" routerLinkActive="active" fragment="typography-with-icons-right" class="block__subitem">With Icons (right)</a>
              <a routerLink="/buttons" routerLinkActive="active" fragment="typography-color-schemes" class="block__subitem">Color Schemes</a>
              <a routerLink="/buttons" routerLinkActive="active" fragment="typography-state-schemes" class="block__subitem">State Schemes</a>
              <a routerLink="/buttons" routerLinkActive="active" fragment="typography-color-modifiers" class="block__subitem">Color Modifiers</a>
              <a routerLink="/buttons" routerLinkActive="active" fragment="typography-loading" class="block__subitem">Loading</a>
              <a routerLink="/buttons" routerLinkActive="active" fragment="typography-disabled" class="block__subitem">Disabled</a>
              <a routerLink="/buttons" routerLinkActive="active" fragment="typography-text-transform" class="block__subitem">Text Transform</a>
            </div>

            <!-- FORMS -->
            <div class="block">
              <a routerLink="/forms" routerLinkActive="active" fragment="forms" class="block__item">Forms</a>
              <a routerLink="/forms" routerLinkActive="active" fragment="forms-default-empty-with-label" class="block__subitem">Default Empty with Label</a>
              <a routerLink="/forms" routerLinkActive="active" fragment="forms-default-empty-with-placeholder" class="block__subitem">Default Empty with Placeholder</a>
              <a routerLink="/forms" routerLinkActive="active" fragment="forms-default-empty-with-label-and-placeholder" class="block__subitem">Default Empty with Label and Placeholder</a>
              <a routerLink="/forms" routerLinkActive="active" fragment="forms-labeled-1" class="block__subitem">Labeled 1</a>
              <a routerLink="/forms" routerLinkActive="active" fragment="forms-labeled-2-with-info" class="block__subitem">Labeled 2 with Info</a>
              <a routerLink="/forms" routerLinkActive="active" fragment="forms-labeled-3-limitedto-10-characters" class="block__subitem">Labeled 3 (limited to 10 characters)</a>
              <a routerLink="/forms" routerLinkActive="active" fragment="forms-mandatory-width-mandatory-class" class="block__subitem">Mandatory (width mandatory class)</a>
              <a routerLink="/forms" routerLinkActive="active" fragment="forms-filled-and-typing" class="block__subitem">Filled and Typing</a>
              <a routerLink="/forms" routerLinkActive="active" fragment="forms-unity-1" class="block__subitem">Unity 1</a>
              <a routerLink="/forms" routerLinkActive="active" fragment="forms-selected-with-selected-and-mandatory-class" class="block__subitem">Selected (with selected and mandatory class)</a>
              <a routerLink="/forms" routerLinkActive="active" fragment="forms-errors-width-mandatory-and-invalid-class" class="block__subitem">Errors (width mandatory and invalid class)</a>
              <a routerLink="/forms" routerLinkActive="active" fragment="forms-field-disabled" class="block__subitem">Field (disabled)</a>
            </div>

            <!-- NGX: SELECT -->
            <div class="block">
              <a routerLink="/ngx-select" routerLinkActive="active" fragment="ngx-select" class="block__item">Select</a>
              <a routerLink="/ngx-select" routerLinkActive="active" fragment="ngx-select-default" class="block__subitem">Select Default</a>
              <a routerLink="/ngx-select" routerLinkActive="active" fragment="ngx-select-option-selected" class="block__subitem">Select Default (option selected)</a>
              <a routerLink="/ngx-select" routerLinkActive="active" fragment="ngx-select-disabled" class="block__subitem">Select Default (disabled)</a>
            </div>

            <!-- NG2: DATERANGEPICKER -->
            <div class="block">
              <a routerLink="/ng2-daterangepicker" routerLinkActive="active" fragment="ng2-daterangepicker" class="block__item">Daterange Picker</a>
              <a routerLink="/ng2-daterangepicker" routerLinkActive="active" fragment="ng2-daterangepicker-single" class="block__subitem">Single Picker</a>
              <a routerLink="/ng2-daterangepicker" routerLinkActive="active" fragment="ng2-daterangepicker-daterange" class="block__subitem">Daterange Picker</a>
              <a routerLink="/ng2-daterangepicker" routerLinkActive="active" fragment="ng2-daterangepicker-daterange-disabled" class="block__subitem">Daterange Picker (disabled)</a>
            </div>

            <!-- NGX: SEARCH -->
            <div class="block">
              <a routerLink="/ngx-search" routerLinkActive="active" fragment="ngx-search" class="block__item">Search</a>
              <a routerLink="/ngx-search" routerLinkActive="active" fragment="ngx-search-default" class="block__subitem">Search Default</a>
              <a routerLink="/ngx-search" routerLinkActive="active" fragment="ngx-search-default-disabled" class="block__subitem">Search Default (disabled)</a>
            </div>

            <!-- TEXTAREA -->
            <div class="block">
              <a routerLink="/forms-textarea" routerLinkActive="active" fragment="forms-textarea" class="block__item">Textarea</a>
              <a routerLink="/forms-textarea" routerLinkActive="active" fragment="forms-textarea-default" class="block__subitem">Textarea Default</a>
              <a routerLink="/forms-textarea" routerLinkActive="active" fragment="forms-textarea-default-disabled" class="block__subitem">Textarea Default (disabled)</a>
            </div>

            <!-- CHECKBOX, RADIO BUTTONS and TOGGLES -->
            <div class="block">
              <a routerLink="/forms-checkbox-radio-toggle" routerLinkActive="active" fragment="forms-checkbox-radio-toggle" class="block__item">Checkbox, Radio Buttons and Toggles</a>
              <a routerLink="/forms-checkbox-radio-toggle" routerLinkActive="active" fragment="forms-checkbox" class="block__subitem">Checkbox</a>
              <a routerLink="/forms-checkbox-radio-toggle" routerLinkActive="active" fragment="forms-radio" class="block__subitem">Radio Buttons</a>
              <a routerLink="/forms-checkbox-radio-toggle" routerLinkActive="active" fragment="forms-toggle" class="block__subitem">Toggles</a>
            </div>

            <!-- GRID -->
            <div class="block">
              <a routerLink="/grid" routerLinkActive="active" fragment="grid" class="block__item">Grid</a>
              <a routerLink="/grid" routerLinkActive="active" fragment="grid-default-bootstrap-grid-dont-use-just-example" class="block__subitem">Default Bootstrap Grid (don't use - just example)</a>
              <a routerLink="/grid" routerLinkActive="active" fragment="grid-grid-with-no-gutters" class="block__subitem">Grid with no Gutters</a>
              <a routerLink="/grid" routerLinkActive="active" fragment="grid-grid-with-gutters-nano-4px" class="block__subitem">Grid with Gutters (nano = 4px)</a>
              <a routerLink="/grid" routerLinkActive="active" fragment="grid-grid-with-gutters-tiny-8px" class="block__subitem">Grid with Gutters (tiny = 8px)</a>
              <a routerLink="/grid" routerLinkActive="active" fragment="grid-grid-with-gutters-small-12px" class="block__subitem">Grid with Gutters (small = 12px)</a>
              <a routerLink="/grid" routerLinkActive="active" fragment="grid-grid-with-gutters-normal-16px" class="block__subitem">Grid with Gutters (normal = 16px)</a>
              <a routerLink="/grid" routerLinkActive="active" fragment="grid-grid-with-gutters-big-24px" class="block__subitem">Grid with Gutters (big = 24px)</a>
              <a routerLink="/grid" routerLinkActive="active" fragment="grid-grid-with-gutters-huge-40px" class="block__subitem">Grid with Gutters (huge = 40px)</a>
            </div>

            <!-- MODALS -->
            <div class="block">
              <a routerLink="/modals" routerLinkActive="active" fragment="modals" class="block__item">Modals</a>
            </div>

            <!-- NAV -->
            <div class="block">
              <a routerLink="/nav" routerLinkActive="active" fragment="grid" class="block__item">Nav</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- CONTENT -->
    <div class="col-10 doc-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
