<!-- GRID -->
<div class="doc-content__block">
  <h1 id="grid">#Grid</h1>
  <a class="ext-doc ext-doc--bootstrap" href="https://getbootstrap.com/docs/4.0/layout/grid/" target="_blank">Grid System</a>

  <h3 id="grid-default-bootstrap-grid-dont-use-just-example">Default Bootstrap Grid <span>(don't use - just example)</span></h3>
  <p>Use with Bootstrap predefined classes like <span>col-3</span> based in 12 columns, <span>col-md</span> for media queries use, <span>col-sm-4</span> for both cases or just <span>col</span> to use flex space.</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--grid">
            <div class="container-fluid">
              <div class="row">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="grid-grid-with-no-gutters">Grid with no Gutters</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--grid">
            <div class="container-fluid">
              <div class="row no-gutters">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row no-gutters</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>row no-gutters</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="grid-grid-with-gutters-nano-4px">Grid with Gutters <span>(nano = 4px)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--grid">
            <div class="container-fluid">
              <div class="row gutter-nano">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
              <div class="row gutter-nano">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row gutter-nano</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>row gutter-nano</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="grid-grid-with-gutters-tiny-8px">Grid with Gutters <span>(tiny = 8px)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--grid">
            <div class="container-fluid">
              <div class="row gutter-tiny">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
              <div class="row gutter-tiny">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row gutter-tiny</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>row gutter-tiny</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="grid-grid-with-gutters-small-12px">Grid with Gutters <span>(small = 12px)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--grid">
            <div class="container-fluid">
              <div class="row gutter-small">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
              <div class="row gutter-small">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row gutter-small</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>row gutter-small</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="grid-grid-with-gutters-normal-16px">Grid with Gutters <span>(normal = 16px)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--grid">
            <div class="container-fluid">
              <div class="row gutter-normal">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
              <div class="row gutter-normal">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row gutter-normal</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>row gutter-normal</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="grid-grid-with-gutters-big-24px">Grid with Gutters <span>(big = 24px)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--grid">
            <div class="container-fluid">
              <div class="row gutter-big">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
              <div class="row gutter-big">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row gutter-big</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>row gutter-big</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="grid-grid-with-gutters-huge-40px">Grid with Gutters <span>(huge = 40px)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--grid">
            <div class="container-fluid">
              <div class="row gutter-huge">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
              <div class="row gutter-huge">
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
                <div class="col">
                  <div class="cont">1 / 3</div>
                </div>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row gutter-huge</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>row gutter-huge</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
