<!-- NGX: SEARCH -->
<div class="doc-content__block">
  <h1 id="ngx-search">Search</h1>
  <a class="ext-doc ext-doc--bootstrap" href="https://getbootstrap.com/docs/4.0/components/forms/" target="_blank">Forms</a>
  <a class="ext-doc ext-doc--github" href="https://github.com/optimistex/ngx-select-ex" target="_blank">ngx-select-ex</a>

  <h3 id="ngx-search-default">Search Default</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block doc-code-block--overflow-visible">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <form>
              <div class="form-group">
                <div class="input-group">
                  <ngx-select class="form-control form-control-search" id="exampleInputEmail16" [placeholder]="'Please select'" [items]="ngxSelectItems" [allowClear]="true"></ngx-select>
                </div>
              </div>
            </form>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ formSearchDefault }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="ngx-search-default-disabled">Search Default <span>(disabled)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block doc-code-block--overflow-visible">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <form>
              <div class="form-group">
                <div class="input-group">
                  <ngx-select class="form-control form-control-search" id="exampleInputEmail16" [placeholder]="'Please select'" [items]="ngxSelectItems" [allowClear]="true" [disabled]="true"></ngx-select>
                </div>
              </div>
            </form>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ formSearchDefaultDisabled }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
