<!-- NGX: SELECT -->
<div class="doc-content__block">
  <h1 id="ngx-select">Select</h1>
  <a class="ext-doc ext-doc--bootstrap" href="https://getbootstrap.com/docs/4.0/components/forms/" target="_blank">Forms</a>
  <a class="ext-doc ext-doc--github" href="https://github.com/optimistex/ngx-select-ex" target="_blank">ngx-select-ex</a>

  <h3 id="ngx-select-default">Select Default</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block doc-code-block--overflow-visible">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <form>
              <div class="form-group">
                <div class="label-group">
                  <label for="exampleInputEmail11">Input Name</label>
                </div>
                <div class="input-group">
                  <ngx-select class="form-control form-control-select" id="exampleInputEmail11" [placeholder]="'Please select'" [items]="ngxSelectItems" [formControl]="selectControl"></ngx-select>
                </div>
              </div>
            </form>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ formSelectDefault }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="ngx-select-option-selected">Select Default <span>(option selected)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block doc-code-block--overflow-visible">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <form>
              <div class="form-group">
                <div class="label-group">
                  <label for="exampleInputEmail13">Input Name</label>
                </div>
                <div class="input-group">
                  <ngx-select class="form-control form-control-select" id="exampleInputEmail13" [defaultValue]="ngxSelectItems[0]" [placeholder]="'Please select'" [items]="ngxSelectItems" [formControl]="selectControl"></ngx-select>
                </div>
              </div>
            </form>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ formSelectDefaultOptionSelected }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="ngx-select-disabled">Select Default <span>(disabled)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block doc-code-block--overflow-visible">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <form>
              <div class="form-group">
                <div class="label-group">
                  <label for="exampleInputEmail12">Input Name</label>
                </div>
                <div class="input-group">
                  <ngx-select class="form-control form-control-select" id="exampleInputEmail12" [placeholder]="'Please select'" [items]="ngxSelectItems" [formControl]="selectControl" [disabled]="true"></ngx-select>
                </div>
              </div>
            </form>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ formSelectDefaultDisabled }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
