<div class="row">
  <div class="col-md-3 highlight ">

    <div class="panel credits">

      <div class="panel__header">Pack 2</div>

      <div class="panel__content">
        <p>Perfect plan for small companies who hire between 2-4 jookseekers per month</p>

        <h5>Unlock 250 contacts</h5>

        <div class="price text-center">
          <h1>€200</h1>
          <h2>5.000 points</h2>
          <p>100 points / €</p>

          <button class="btn btn-primary">Buy Credits</button>
        </div>
      </div>

    </div>

  </div>

  <div class="col-md-3 highlight ">

    <div class="panel credits credits__most-sold">

      <div class="panel__header">Pack 2 - most-sold</div>

      <div class="panel__content">
        <p>Perfect plan for small companies who hire between 2-4 jookseekers per month</p>

        <h5>Unlock 250 contacts</h5>

        <div class="price text-center">
          <h1>€200</h1>
          <h2>5.000 points</h2>
          <p>100 points / €</p>

          <button class="btn btn-primary">Buy Credits</button>
        </div>
      </div>

    </div>

  </div>

  <div class="col-md-3 highlight ">

    <div class="panel credits ">

      <div class="panel__header">Pack 2 </div>

      <div class="panel__content">
        <p>Perfect plan for small companies who hire between 2-4 jookseekers per month</p>

        <h5>Unlock 500 contacts</h5>

        <div class="price text-center">
          <h1>$500</h1>
          <h2>5.000 points</h2>
          <p>100 points / €</p>

          <button class="btn btn-primary">Buy Credits</button>
        </div>
      </div>

    </div>

  </div>

  <div class="col-md-3 highlight ">

    <div class="panel credits credits__custom">

      <div class="panel__header">Pack 2</div>

      <div class="panel__content">
        <p>Perfect plan for small companies who hire between 2-4 jookseekers per month</p>

        <div class="price text-center">
          
          <div class="price__info text-center">
            <span>Big Volume?</span>
            <span>Custom made price</span>            
          </div>


          <button class="btn btn-primary">Buy Credits</button>
        </div>
      </div>

    </div>

  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="container-fluid">
      <div class="credit-history__title">
        <div></div>
        <div></div>
      </div>


      <div class="row">
        <div class="col-sm-12 col-md-12">
          <div class="panel credit-history__panel">
            <table class="table credit-history__table">
              <thead _ngcontent-c26="">
                <tr _ngcontent-c26="">
                  <th scope="col">Action</th>
                  
                  <th scope="col">Date</th>
                  <th scope="col">Movement</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody _ngcontent-c26="">
                <tr>
                  <td>120937123</td>
                  <td>120937123</td>
                  <td>120937123</td>
                  <td>120937123</td>
                </tr>
                <tr>
                  <td>120937123</td>
                  <td>120937123</td>
                  <td>120937123</td>
                  <td>120937123</td>
                </tr>
                <tr>
                  <td>120937123</td>
                  <td>120937123</td>
                  <td>120937123</td>
                  <td>120937123</td>
                </tr>
                <tr>
                  <td>120937123</td>
                  <td>120937123</td>
                  <td>120937123</td>
                  <td>120937123</td>
                </tr>
                <tr>
                  <td>120937123</td>
                  <td>120937123</td>
                  <td>120937123</td>
                  <td>120937123</td>
                </tr>
                <tr>
                  <td>120937123</td>
                  <td>120937123</td>
                  <td>120937123</td>
                  <td>120937123</td>
                </tr>
                <tr>
                  <td>120937123</td>
                  <td>120937123</td>
                  <td>120937123</td>
                  <td>120937123</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>