// ------------------------------------------------------------------
//
// INDEX
//
//  #MAPS
//
//  #MIXINS
//
//  #STYLES
//
// ------------------------------------------------------------------


// ------------------------------------------------------------------
// #MAPS
// ------------------------------------------------------------------

// $alt_components__buttons--icon-map (class: 'icon')
$alt_components__buttons--icon-map: (
  calendar: 'calendar',
  info: 'info',
);



// ------------------------------------------------------------------
// #MIXINS
// ------------------------------------------------------------------

// =button-ghost-variant
@mixin button-ghost-variant($color, $color-hover: $color, $active-background: $color, $active-border: $color) {
  color: $color;
  background-color: transparent;
  background-image: none;
  border-color: transparent;

  &:hover {
    color: lighten($color-hover, 15%);
  }

  &.disabled,
  &:disabled {
    color: $color__dark-blue-gray--5 !important;
    background-color: transparent !important;
    border-color: transparent !important;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: darken($color, 10%);
  }
}


// =button-icon-side
@mixin button-icon-side($_height, $_padding-btn, $_border-width, $_icon-size, $_icon-side, $button-icon-pseudo) {
  $button-icon-side: $_icon-side;
  $button-icon-side-opposite: opposite-direction($button-icon-side);

  &:not(.btn-is-loading) {
    padding-#{$button-icon-side}: $_icon-size*3 + $_padding-btn !important;
  }

  &[class*="btn-outline"],
  &[class*="btn-ghost"] {
    padding-#{$button-icon-side}: $_icon-size + $_padding-btn !important;
    padding-#{$button-icon-side-opposite}: ($_padding-btn - 8px) !important;
  }
  &:#{$button-icon-pseudo} {
    width: $_icon-size*3;
    // line-height: $_height;
    font-size: $_icon-size;
    text-align: center;
    position: absolute;
    top: -$_border-width;
    #{$button-icon-side}: -$_border-width;
    bottom: -$_border-width;
    background: rgba(white, .3);
    pointer-events: none;
  }
  @each $_icon in $alt_components__buttons--icon-map {
    $key: nth($_icon, 1);
    $value: nth($_icon, 2);

    &[class*="-#{$key}"] {
      @include icon($value, $button-icon-pseudo);
    }
  }
}

// =button-icon
@mixin button-icon($_height, $_padding-btn, $_border-width, $_icon-size) {
  $button-icon-side: left;
  $button-icon-side-opposite: opposite-direction($button-icon-side);

  &[class*="btn-icon"] {
    position: relative;

    &[class*="-left"] {
      @include button-icon-side($_height, $_padding-btn, $_border-width, $_icon-size, $button-icon-side, before);
    }
    &[class*="-right"] {
      @include button-icon-side($_height, $_padding-btn, $_border-width, $_icon-size, $button-icon-side-opposite, after);
    }
  }
}

// =button-is-loading
@mixin button-is-loading($_height, $_padding-btn, $_border-width, $_icon-size) {
  &.btn-is-loading {
    position: relative;
    &:before {
      content: none !important;
    }
    &:after {
      // line-height: $_height;
      font-size: inherit;
      text-align: center;
      position: absolute;
      // top: -$_border-width;
      right: ($_padding-btn - $_icon-size)/2;
      // bottom: -$_border-width;
      pointer-events: none;
      @include animation(spin .8s infinite linear);
    }
    @include icon(spinner, after) {
    }
  }
}





// ------------------------------------------------------------------
// #STYLES
// ------------------------------------------------------------------


//
// Base styles
//

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $btn-border-width solid transparent;

  // extra
  font-weight: $button__font-weight;
  text-transform: uppercase;
  letter-spacing: $letter-spacing--2;
  box-shadow: none !important;
  border-width: $button__border-width;

  @include button-icon($button__height, $button__padding-x, $button__border-width, 16px);
  @include button-is-loading($button__height, $button__padding-x, $button__border-width, 16px);

  @include button-size($button__padding-y, $button__padding-x, $button__font-size, $button__line-height, $border-radius__default);
  // @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-line-height, $btn-border-radius);
  @include transition($btn-transition);

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    // opacity: $btn-disabled-opacity;
    background: $color__light-yellow-gray--2 !important;
    border-color: $color__light-yellow-gray--2 !important;
    color: $color__dark-blue-gray--5 !important;
    @include box-shadow(none);
  }

  // Opinionated: add "hand" cursor to non-disabled .btn elements
  &:not(:disabled):not(.disabled) {
    cursor: pointer;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active {
    background-image: none;
    @include box-shadow($btn-active-box-shadow);

    &:focus {
      @include box-shadow($btn-focus-box-shadow, $btn-active-box-shadow);
    }
  }
}

// Future-proof disabling of clicks on `<a>` elements
a.btn.disabled,
fieldset:disabled a.btn {
  pointer-events: none;
}


//
// Alternate buttons
//

@each $color, $value in $theme-colors {
  // btn
  .btn-#{$color} {
    @include button-variant($value, $value);
  }

  // btn-outline
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
    &:before,
    &:after {
      background: transparent !important;
    }
  }

  // btn-ghost
  .btn-ghost-#{$color} {
    @include button-ghost-variant($value);
    &:before,
    &:after {
      background: transparent !important;
    }
  }
}


//
// Link buttons
//

// Make a button look and behave like a link
.btn-link {
  font-weight: $font-weight-normal;
  color: $link-color;
  background-color: transparent;

  @include hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
    border-color: transparent;
  }

  &:focus,
  &.focus {
    text-decoration: $link-hover-decoration;
    border-color: transparent;
    box-shadow: none;
  }

  &:disabled,
  &.disabled {
    color: $btn-link-disabled-color;
  }

  // No need for an active state here
}


//
// Button Sizes
//

.btn-tiny {
  font-weight: $button__font-weight-tiny;
  border-width: $button__border-width-tiny;
  @include button-size($button__padding-y-tiny, $button__padding-x-tiny, $button__font-size-tiny, $button__line-height-tiny, $border-radius__default);
}

.btn-small {
  font-weight: $button__font-weight-small;
  border-width: $button__border-width-small;
  @include button-size($button__padding-y-small, $button__padding-x-small, $button__font-size-small, $button__line-height-small, $border-radius__default);

  @include button-icon($button__height-small, $button__padding-x-small, $button__border-width-small, 12px);
  @include button-is-loading($button__height-small, $button__padding-x-small, $button__border-width-small, 12px);
}

.btn-big {
  font-weight: $button__font-weight-big;
  border-width: $button__border-width-big;
  @include button-size($button__padding-y-big, $button__padding-x-big, $button__font-size-big, $button__line-height-big, $border-radius__default);

  @include button-icon($button__height-big, $button__padding-x-big, $button__border-width-big, 20px);
  @include button-is-loading($button__height-big, $button__padding-x-big, $button__border-width-big, 20px);
}

.btn-huge {
  font-weight: $button__font-weight-huge;
  border-width: $button__border-width-huge;
  @include button-size($button__padding-y-huge, $button__padding-x-huge, $button__font-size-huge, $button__line-height-huge, $border-radius__default);
}


.case-proper {
  text-transform: capitalize;
}
.case-lower {
  text-transform: lowercase;
}



//
// Block button
//

.btn-block {
  display: block;
  width: 100%;

  // Vertically space out multiple block buttons
  + .btn-block {
    margin-top: $btn-block-spacing-y;
  }
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  &.btn-block {
    width: 100%;
  }
}
