// ------------------------------------------------------------------
//
// INDEX
//
//  #MIXINS
//    base --------------------
//      =alt_modal
//    content --------------------
//      =alt_modal__content__header
//      =alt_modal__content__body
//      =alt_modal__content__footer
//      =alt_modal__content
//
//  #STYLES
//    _modal
//
// ------------------------------------------------------------------


// ------------------------------------------------------------------
// #MIXINS
// ------------------------------------------------------------------

// content --------------------

// =alt_modal__content__header
@mixin alt_modal__content__header {
  .modal-header {
    height: 60px;
    border: none;
    padding: 0 26px;
    border-radius: 0;
    background-color: $color__light-yellow-gray--1;
    @include align(middle);

    .modal-title {
      padding: 0;
      margin: 0;
      font-size: $font-size--head-4;
      color: $color__black--2;
    }

    .close {
      opacity: 1;
      @include outline;
      text-shadow: none;
      @include align(row);
      @include icon(close) {
        width: 12px;
        height: 12px;
        line-height: 12px;
        font-size: 12px;
        color: $color__dark-blue-gray--2;
      }
    }
  }
}

// =alt_modal__content__body
@mixin alt_modal__content__body {
  .modal-body {
    padding: 25px 30px;
    font-size: $font-size--small;
    line-height: 2;
    color: $color__black--2;
  }
}

// =alt_modal__content__footer
@mixin alt_modal__content__footer {
  .modal-footer {
    padding: 0 30px 25px;
    border: none;
  }
}

// =alt_modal__content
@mixin alt_modal__content {
  .modal-content {
    box-shadow: $shadow--topdown--3;
    border: 0px;
    border-radius: 0px;

    // +alt_modal__content__header
    @include alt_modal__content__header;

    // +alt_modal__content__body
    @include alt_modal__content__body;

    // +alt_modal__content__footer
    @include alt_modal__content__footer;
  }
}



// type --------------------

// =alt_modal__type--alert
@mixin alt_modal__type--alert {
  &.modal-dialog-alert {
    .modal-header {
      background-color: $color__state--warning;

      .modal-title {
        @include icon(info) {
          font-size: 18px;
          vertical-align: middle;
          margin-right: 15px;
        }
      }

      .close {
        span {
          &:before {
            color: $color__black--2;
          }
        }
      }
    }

    .modal-content {
      font-weight: $font-weight--normal;
    }

    .modal-footer {
      .action {
        font-weight: $font-weight--normal;
      }
      .action-submit {
        color: $color__black--2;
      }
    }
  }
}

// =alt_modal__type--success
@mixin alt_modal__type--success {
  &.modal-dialog-success {
    .modal-header {
      background-color: transparent;

      .close {
        span {
          &:before {
            color: $color__black--2;
          }
        }
      }
    }

    .modal-content {
      font-size: $font-size--default;
      font-weight: $font-weight--light;
      letter-spacing: $letter-spacing--1;
      text-align: center;
      .modal-body {
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 40px;
        margin-bottom: 40px;
        color: $color__dark-blue-gray--3;
        strong {
          font-weight: $font-weight--bold;
        }
        @include icon(state-success) {
          font-size: 32px;
          color: $color__state--success;
          margin-top: -70px;
          @include center(h);
        }
      }
    }

    .modal-footer {
      @include align(center);
      .action {
        padding: 0 60px;
        font-weight: $font-weight--bold;
      }
    }
  }
}

// =alt_modal__type--info
@mixin alt_modal__type--info {
  &.modal-dialog-info {
    .modal-header {
      background-color: transparent;

      .close {
        span {
          &:before {
            color: $color__black--2;
          }
        }
      }
    }

    .modal-content {
      font-size: $font-size--default;
      font-weight: $font-weight--light;
      letter-spacing: $letter-spacing--1;
      text-align: center;
      .modal-body {
        padding-left: 60px;
        padding-right: 60px;
        margin-top: 40px;
        margin-bottom: 40px;
        color: $color__dark-blue-gray--3;
        strong {
          font-weight: $font-weight--bold;
        }
        @include icon(state-info) {
          font-size: 32px;
          margin-top: -70px;
          @include center(h);
        }
      }
    }

    .modal-footer {
      @include align(center);
      .action {
        padding: 0 60px;
        font-weight: $font-weight--bold;
      }
    }
  }
}



// base --------------------

// =alt_modal
@mixin alt_modal {
  .modal-dialog {
    min-height: 100%;
    margin: 0 auto;
    @include align(middle);

    // +alt_modal__content
    @include alt_modal__content;

    // +alt_modal__type--alert
    @include alt_modal__type--alert;

    // +alt_modal__type--success
    @include alt_modal__type--success;

    // +alt_modal__type--info
    @include alt_modal__type--info;
  }
}





// ------------------------------------------------------------------
// #STYLES
// ------------------------------------------------------------------

// _modal
.modal {

  // +alt_modal
  @include alt_modal;
}

// backgrop
.modal-backdrop {
  &.show {
    background-color: $color__black--2;
    opacity: 0.33;
  }
}

// blur
.modal-open {
  .app-wrapper {
    filter: blur(20px);
  }
}
