// Import star-rating styles
// @import "~css-star-rating/css/star-rating";
@import "~angular-star-rating/assets/scss/star-rating";

// overrides
.rating.color-negative .star-container .star {
  svg {
    fill: #0f0;
  }
  i {
    color: #0f0;
  }
}

.rating.color-ok .star-container .star {
  svg {
    fill: #f00;
  }
  i {
    color: #f00;
  }
}

.rating.color-positive .star-container .star {
  svg {
    fill: #00f;
  }
  i {
    color: #00f;
  }
}

.rating.color-default .star-container .star {
  svg {
    fill: #ff0;
  }
  i {
    color: #ff0;
  }
}
