<!-- NAV -->
<div id="nav" class="doc-content__block">
  <h1>#Nav</h1>
  <a class="ext-doc ext-doc--bootstrap" href="https://getbootstrap.com/docs/4.0/components/navbar/" target="_blank">Navbar</a>
  <a class="ext-doc ext-doc--ngx" href="https://valor-software.com/ngx-bootstrap/#/dropdowns" target="_blank">Dropdowns</a>

  <h3>Nav</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <div class="nav-container nav--color--agency">
              <nav class="navbar">
                <a class="navbar-brand">SNAPJOB</a>
                <div class="navbar-btns">
                  <button type="button" class="btn btn-ghost-primary btn-small">JobSeekers</button>
                  <button type="button" class="btn btn-ghost-primary btn-small">+ New Campaign</button>
                  <button type="button" class="btn btn-outline-primary btn-small">My Campaigns</button>
                  <button type="button" class="btn btn-small btn-ghost-success">Get in</button>
                </div>
              </nav>
              <ul class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page"><a href="">Home</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="">Something</a></li>
                <li class="breadcrumb-item" aria-current="page"><a href="">Something Else</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="">And this is really something else</a></li>
              </ul>
            </div>
            <div class="nav-container nav--color--agency">
              <nav class="navbar navbar-mobile">
                <div class="navbar-btns">
                  <button type="button" class="btn btn-ghost-primary btn-tiny active"><div>IMG</div>Jobs</button>
                  <button type="button" class="btn btn-ghost-primary btn-tiny"><div>IMG</div>Jobs</button>
                  <button type="button" class="btn btn-ghost-primary btn-tiny"><div>IMG</div>More</button>
                </div>
              </nav>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>...</span>"&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
