<!-- CHECKBOX, RADIO BUTTONS AND TOGGLES -->
<div class="doc-content__block">
  <h1 id="forms-checkbox-radio-toggle">Checkbox, Radio Buttons and Toggles</h1>
  <a class="ext-doc ext-doc--bootstrap" href="https://getbootstrap.com/docs/4.0/components/forms/" target="_blank">Forms</a>

  <h3 id="forms-checkbox">Checkbox</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block doc-code-block--overflow-visible">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
              <label class="form-check-label" for="defaultCheck1">Default checkbox</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck2" checked>
              <label class="form-check-label" for="defaultCheck2">Checked checkbox</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck3" disabled>
              <label class="form-check-label" for="defaultCheck3">Disabled checkbox</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck4" disabled checked>
              <label class="form-check-label" for="defaultCheck4">Disabled and checked checkbox</label>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>form-check</span>"&gt;</pre>
            <pre>  &lt;input class="<span>form-check-input</span>" type="<span>checkbox</span>" value="" id="defaultCheck1"&gt;</pre>
            <pre>  &lt;label class="<span>form-check-label</span>" for="defaultCheck1"&gt;Default checkbox&lt;/label&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>form-check</span>"&gt;</pre>
            <pre>  &lt;input class="<span>form-check-input</span>" type="<span>checkbox</span>" value="" id="defaultCheck2" checked&gt;</pre>
            <pre>  &lt;label class="<span>form-check-label</span>" for="defaultCheck2"&gt;Checked checkbox&lt;/label&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>form-check</span>"&gt;</pre>
            <pre>  &lt;input class="<span>form-check-input</span>" type="<span>checkbox</span>" value="" id="defaultCheck3" disabled&gt;</pre>
            <pre>  &lt;label class="<span>form-check-label</span>" for="defaultCheck3"&gt;Disabled checkbox&lt;/label&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>form-check</span>"&gt;</pre>
            <pre>  &lt;input class="<span>form-check-input</span>" type="<span>checkbox</span>" value="" id="defaultCheck4" disabled checked&gt;</pre>
            <pre>  &lt;label class="<span>form-check-label</span>" for="defaultCheck4"&gt;Disabled and checked checkbox&lt;/label&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>

        </div>
      </div>
    </div>
  </div>

  <h3 id="forms-radio">Radio Buttons</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block doc-code-block--overflow-visible">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
              <label class="form-check-label" for="exampleRadios1">Default radio</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
              <label class="form-check-label" for="exampleRadios2">Second default radio</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
              <label class="form-check-label" for="exampleRadios3">Disabled radio</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option4" disabled checked>
              <label class="form-check-label" for="exampleRadios3">Disabled radio</label>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>form-check</span>"&gt;</pre>
            <pre>  &lt;input class="<span>form-check-input</span>" type="<span>radio</span>" name="exampleRadios" id="exampleRadios1" value="option1" checked&gt;</pre>
            <pre>  &lt;label class="<span>form-check-label</span>" for="exampleRadios1"&gt;Default radio&lt;/label&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>form-check</span>"&gt;</pre>
            <pre>  &lt;input class="<span>form-check-input</span>" type="<span>radio</span>" name="exampleRadios" id="exampleRadios2" value="option2"&gt;</pre>
            <pre>  &lt;label class="<span>form-check-label</span>" for="exampleRadios2"&gt;Second default radio&lt;/label&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>form-check</span>"&gt;</pre>
            <pre>  &lt;input class="<span>form-check-input</span>" type="<span>radio</span>" name="exampleRadios" id="exampleRadios3" value="option3" disabled&gt;</pre>
            <pre>  &lt;label class="<span>form-check-label</span>" for="exampleRadios3"&gt;Disabled radio&lt;/label&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>form-check</span>"&gt;</pre>
            <pre>  &lt;input class="<span>form-check-input</span>" type="<span>radio</span>" name="exampleRadios" id="exampleRadios3" value="option4" disabled checked&gt;</pre>
            <pre>  &lt;label class="<span>form-check-label</span>" for="exampleRadios3"&gt;Disabled radio&lt;/label&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>

        </div>
      </div>
    </div>
  </div>

  <h3 id="forms-toggle">Toggles</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-12">
        <div class="doc-code-block doc-code-block--overflow-visible">
          <div class="doc-code-block__inner doc-code-block__inner--form">

            <div class="form-check">
              <input class="form-check-toggle" type="checkbox" value="" id="defaultToggle1">
              <label class="form-check-label" for="defaultToggle1">Default toggle</label>
            </div>
            <div class="form-check">
              <input class="form-check-toggle" type="checkbox" value="" id="defaultToggle2" checked>
              <label class="form-check-label" for="defaultToggle2">Checked toggle</label>
            </div>
            <div class="form-check">
              <input class="form-check-toggle" type="checkbox" value="" id="defaultToggle3" disabled>
              <label class="form-check-label" for="defaultToggle3">Disabled toggle</label>
            </div>
            <div class="form-check">
              <input class="form-check-toggle" type="checkbox" value="" id="defaultToggle4" disabled checked>
              <label class="form-check-label" for="defaultToggle4">Disabled and checked toggle</label>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>form-check</span>"&gt;</pre>
            <pre>  &lt;input class="<span>form-check-toggle</span>" type="<span>checkbox</span>" value="" id="defaultToggle1"&gt;</pre>
            <pre>  &lt;label class="<span>form-check-label</span>" for="defaultToggle1"&gt;Default checkbox&lt;/label&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>form-check</span>"&gt;</pre>
            <pre>  &lt;input class="<span>form-check-toggle</span>" type="<span>checkbox</span>" value="" id="defaultToggle2" checked&gt;</pre>
            <pre>  &lt;label class="<span>form-check-label</span>" for="defaultToggle2"&gt;Checked checkbox&lt;/label&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>form-check</span>"&gt;</pre>
            <pre>  &lt;input class="<span>form-check-toggle</span>" type="<span>checkbox</span>" value="" id="defaultToggle3" disabled&gt;</pre>
            <pre>  &lt;label class="<span>form-check-label</span>" for="defaultToggle3"&gt;Disabled checkbox&lt;/label&gt;</pre>
            <pre>&lt;/div&gt;</pre>
            <pre>&lt;div class="<span>form-check</span>"&gt;</pre>
            <pre>  &lt;input class="<span>form-check-toggle</span>" type="<span>checkbox</span>" value="" id="defaultToggle4" disabled checked&gt;</pre>
            <pre>  &lt;label class="<span>form-check-label</span>" for="defaultToggle4"&gt;Disabled and checked checkbox&lt;/label&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
