<!-- TYPOGRAPHY -->
<div class="doc-content__block">
  <h1 id="typography">#Typography</h1>
  <h3 id="typography-Typefaces">Typefaces</h3>
  <p>Altar.io primary typeface is <a href="https://fonts.google.com/specimen/Montserrat?selection.family=Montserrat">Montserrat</a> — a robust typeface with legible numbers that renders well at all sizes. It is soft and friendly, yet plain enough to get out of the way and let the user's designs shine.</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner">

            <div class="letter-row">
              <div class="letter-col">A</div>
              <div class="letter-col">B</div>
              <div class="letter-col">C</div>
              <div class="letter-col">D</div>
              <div class="letter-col">E</div>
              <div class="letter-col">F</div>
              <div class="letter-col">G</div>
              <div class="letter-col">H</div>
              <div class="letter-col">I</div>
              <div class="letter-col">J</div>
              <div class="letter-col">K</div>
              <div class="letter-col">L</div>
              <div class="letter-col">M</div>
              <div class="letter-col">N</div>
              <div class="letter-col">O</div>
              <div class="letter-col">P</div>
              <div class="letter-col">Q</div>
              <div class="letter-col">R</div>
              <div class="letter-col">S</div>
              <div class="letter-col">T</div>
              <div class="letter-col">U</div>
              <div class="letter-col">V</div>
              <div class="letter-col">W</div>
              <div class="letter-col">X</div>
              <div class="letter-col">Y</div>
              <div class="letter-col">Z</div>
            </div>
            <div class="letter-row">
              <div class="letter-col">a</div>
              <div class="letter-col">b</div>
              <div class="letter-col">c</div>
              <div class="letter-col">d</div>
              <div class="letter-col">e</div>
              <div class="letter-col">f</div>
              <div class="letter-col">g</div>
              <div class="letter-col">h</div>
              <div class="letter-col">i</div>
              <div class="letter-col">j</div>
              <div class="letter-col">k</div>
              <div class="letter-col">l</div>
              <div class="letter-col">m</div>
              <div class="letter-col">n</div>
              <div class="letter-col">o</div>
              <div class="letter-col">p</div>
              <div class="letter-col">q</div>
              <div class="letter-col">r</div>
              <div class="letter-col">s</div>
              <div class="letter-col">t</div>
              <div class="letter-col">u</div>
              <div class="letter-col">v</div>
              <div class="letter-col">w</div>
              <div class="letter-col">x</div>
              <div class="letter-col">y</div>
              <div class="letter-col">z</div>
            </div>
            <div class="letter-row">
              <div class="letter-col">0</div>
              <div class="letter-col">1</div>
              <div class="letter-col">2</div>
              <div class="letter-col">3</div>
              <div class="letter-col">4</div>
              <div class="letter-col">5</div>
              <div class="letter-col">6</div>
              <div class="letter-col">7</div>
              <div class="letter-col">8</div>
              <div class="letter-col">9</div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="typography-Font-Sizes">Font Sizes</h3>
  <p>The font scale consists of 9 different font sizes. The default size applied to the <span>body</span> is <strong>Light</strong>.</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">

          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <p class="font-size--jumbo">The quick brown fox jumps over the lazy dog</p>
                <p class="sub">3rem (48px) - Jumbo</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <p class="font-size--head-1">The quick brown fox jumps over the lazy dog</p>
                <p class="sub">1.875rem (30px) - Head 1</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <p class="font-size--lead">The quick brown fox jumps over the lazy dog</p>
                <p class="sub">1.75rem (28px) - Lead</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <p class="font-size--head-2">The quick brown fox jumps over the lazy dog</p>
                <p class="sub">1.5rem (24px) - Head 2</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <p class="font-size--head-3">The quick brown fox jumps over the lazy dog</p>
                <p class="sub">1.25rem (20px) - Head 3</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <p class="font-size--normal">The quick brown fox jumps over the lazy dog</p>
                <p class="sub">1rem (16px) - Normal</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <p class="font-size--small">The quick brown fox jumps over the lazy dog</p>
                <p class="sub">0.83em (14px) - Small</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <p class="font-size--head-4">The quick brown fox jumps over the lazy dog</p>
                <p class="sub">0.75rem (12px) - Head 4</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <p class="font-size--tiny">The quick brown fox jumps over the lazy dog</p>
                <p class="sub">0.625rem (10px) - Tiny</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <p class="font-size--nano">The quick brown fox jumps over the lazy dog</p>
                <p class="sub">0.5rem (8px) - Nano</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <h3 id="typography-Font-Styles">Font Styles</h3>
  <p>The font scale consists of 9 different font sizes. The default size applied to the <span>body</span> is <strong>Light</strong>.</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">

          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <h1 class="font-size--head-1">This is h1 width "Head Size 1"</h1>
                <p class="sub">Head 1</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <h2 class="font-size--head-2">This is h2 width "Head Size 2"</h2>
                <p class="sub">Head 2</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <h3 class="font-size--size-3">This is h3 width "Head Size 3"</h3>
                <p class="sub">Head 3</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <h4 class="font-size--size-4">This is h4 width "Head Size 4"</h4>
                <p class="sub">Head 4</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <p>This is a Body text: But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                <p class="sub">Body</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <p class="font-size--small">This is a Body text: But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                <p class="sub">Small Body</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <p class="font-size--tiny">This is a Body text: But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                <p class="sub">Tiny Body</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <p class="font-size--nano">This is a Body text: But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness.</p>
                <p class="sub">Nano Body</p>
              </div>
            </div>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--scrollable">
            <div class="typo-row">
              <div class="type-col">
                <p>This is a Body text: But <a href="#">I must explain</a> to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual <a href="#">teachings</a> of the great explorer of the truth, the master-builder of human happiness.</p>
                <p class="sub">Textual Link</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3 id="typography-Font-Weights">Font Weights</h3>
  <p>There are three font weights available to use — <strong>Light</strong>, <strong>Regular</strong> and <strong>Bold</strong>. These can be applied with <span>font-weight--light</span>, <span>font-weight--normal</span> and <span>font-weight--bold</span> respectively.</p>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col-lg-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner">
            <div class="font-weight font-weight--light font-size--jumbo">Aa</div>
            <p class="sub">Montserrat Light</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--pad">
            .font-weight--light
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner">
            <div class="font-weight font-weight--normal font-size--jumbo">Aa</div>
            <p class="sub">Montserrat Normal</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--pad">
            .font-weight--normal
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="doc-code-block">
          <div class="doc-code-block__inner">
            <div class="font-weight font-weight--bold font-size--jumbo">Aa</div>
            <p class="sub">Montserrat Bold</p>
          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code doc-code-block__inner--pad">
            .font-weight--bold
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
