<!-- SIDEBAR -->
<div id="sidebar" class="doc-content__block">
  <h1>#Sidebar</h1>
  <a class="ext-doc ext-doc--bootstrap" href="https://getbootstrap.com/docs/4.0/components/navbar/" target="_blank">Navbar</a>
  <a class="ext-doc ext-doc--ngx" href="https://valor-software.com/ngx-bootstrap/#/dropdowns" target="_blank">Dropdowns</a>

  <h3>Sidebar</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <div class="sidebar">
              <ul class="sidebar__links">
                <li class="sidebar__link sidebar__link--active">
                  <button class="sidebar__btn btn btn-ghost-primary btn-icon-left-calendar">
                    <span class="btn__text">Applications</span>
                    <span class="btn__badge">351</span>
                  </button>
                </li>
                <li class="sidebar__link">
                  <button class="btn btn-ghost-primary btn-icon-left-calendar sidebar__btn">
                    <span class="btn__text">accepted invitations</span>
                    <span class="btn__badge">51</span>
                  </button>
                </li>
                <li class="sidebar__link">
                  <button class="sidebar__btn btn btn-ghost-primary btn-icon-left-calendar">
                    <span class="btn__text">Shortlist</span>
                    <span class="btn__badge">27</span>
                  </button>
                </li>
                <li class="sidebar__link">
                  <button class="sidebar__btn btn btn-ghost-primary btn-icon-left-calendar">
                    <span class="btn__text">Closed</span>
                    <span class="btn__badge">6/10</span>
                  </button>
                </li>

                <div class="sidebar__bot-links">
                  <li class="sidebar__link">
                    <button class="sidebar__btn btn btn-ghost-primary btn-icon-left-calendar">
                      <span class="btn__text">rejected aplications</span>
                      <span class="btn__badge">51</span>
                    </button>
                  </li>
                  <li class="sidebar__link">
                    <button class="sidebar__btn btn btn-ghost-primary btn-icon-left-calendar">
                      <span class="btn__text">pending invitations</span>
                      <span class="btn__badge">64</span>
                    </button>
                  </li>
                  <li class="sidebar__link">
                    <button class="sidebar__btn btn btn-ghost-primary btn-icon-left-calendar">
                      <span class="btn__text">declined invitations</span>
                      <span class="btn__badge">27</span>
                    </button>
                  </li>
                </div>
              </ul>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
