<div id="job" class="mq-container">

  <div class="job-card">
    <div class="row no-gutters">

      <div class="col job-card__sidebar">
        <div class="job-card__sidebar__price">
          <div class="job-card__sidebar__price__flat">160</div>
          <div class="job-card__sidebar__price__hour">10€ / h</div>
        </div>
        <div class="job-card__sidebar__time">16 Hours</div>
      </div>

      <div class="col job-card__content">
        <div class="row no-gutters">
          <div class="col-8 job-card__content__info">
            <div class="job-card__content__info__title">Vila Nova de Gaia</div>
            <div class="job-card__content__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quae deserunt dolorem optio illum sint, fugiat. Repellat dicta mollitia nisi, perferendis dolorum cumque doloremque voluptas veritatis ullam porro ab eius quisquam. Minus soluta ipsam, dicta assumenda, delectus minima beatae officia magnam non est iste? Fugiat error nulla nihil repellendus! Suscipit.</div>
            <div class="job-card__content__info__origin">Hospedeiras de Portugal</div>
          </div>
          <div class="col-4 job-card__content__action-big">
            <button type="button" class="btn btn-js-cta btn-block">Apply Now</button>
          </div>
          <div class="col-6 job-card__content__type">
            <div class="row no-gutters">
              <div class="col job-card__content__type__info job-card__content__type__info--date">Fri 24 Dec</div>
              <div class="col job-card__content__type__info job-card__content__type__info--time">Morning Evening</div>
              <div class="col job-card__content__type__info job-card__content__type__info--gender">Female</div>
            </div>
          </div>
          <div class="col-6 job-card__content__actions">
            <div class="job-card__content__actions__action job-card__content__actions__action--share">Share</div>
            <div class="job-card__content__actions__action job-card__content__actions__action--like">Like</div>
            <button type="button" class="btn btn-light">Edit</button>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
