<!-- JOB -->
<div id="job" class="doc-content__block">
  <h1>#Job</h1>

  <!-- JOBSEEKER & NON AUTENTICATED -->
  <h3>Job <span>(jobseeker and non autenticated)</span></h3>
  <div id="job-jobseeker-and-non-autenticated" class="doc-content__block doc-content__block--no-pad">
    <div class="mq-container">

      <div class="job-card job-card--color night">
        <div class="row no-gutters">

          <div class="col job-card__sidebar">
            <div class="job-card__sidebar__price">
              <div class="job-card__sidebar__price__flat">160</div>
              <div class="job-card__sidebar__price__hour">10€/h</div>
            </div>
            <div class="job-card__sidebar__time">16 Hours</div>
          </div>

          <div class="col job-card__content">
            <div class="row no-gutters">
              <div class="col-8 job-card__content__info">
                <div class="job-card__content__info__title">Vila Nova de Gaia</div>
                <div class="job-card__content__info__description">Fugiat error</div>
                <div class="job-card__content__info__origin">Hospedeiras de Portugal</div>
              </div>
              <div class="col-4 job-card__content__action-big">
                <button type="button" class="btn btn-js-cta btn-block">Apply Now</button>
              </div>
              <div class="col-6 job-card__content__type">
                <div class="row no-gutters">
                  <div class="col job-card__content__type__info job-card__content__type__info--date">Fri 24 Dec</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--time">Morning Evening</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--gender">Female</div>
                </div>
              </div>
              <div class="col-6 job-card__content__actions">
                <button type="button" class="btn btn-light action action-share">Share</button>
                <button type="button" class="btn btn-light action action-like">Like</button>
                <button type="button" class="btn btn-light btn-edit">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- JOBSEEKER AND NON AUTENTICATED - MISSMATCH -->
  <h3>Job <span>(jobseeker and non autenticated)</span> - missmatch</h3>
  <div id="job-jobseeker-and-non-autenticated-mismatch" class="doc-content__block doc-content__block--no-pad">
    <div class="mq-container">

      <div class="job-card job-card--color night">
        <div class="row no-gutters">

          <div class="col job-card__sidebar">
            <div class="job-card__sidebar__price">
              <div class="job-card__sidebar__price__flat">160</div>
              <div class="job-card__sidebar__price__hour">10€/h</div>
            </div>
            <div class="job-card__sidebar__time">16 Hours</div>
          </div>

          <div class="col job-card__content">
            <div class="row no-gutters">
              <div class="col-8 job-card__content__info">
                <div class="job-card__content__info__title">Vila Nova de Gaia</div>
                <div class="job-card__content__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quae deserunt dolorem optio illum sint, fugiat. Repellat dicta mollitia nisi, perferendis dolorum cumque doloremque voluptas veritatis ullam porro ab eius quisquam. Minus soluta ipsam, dicta assumenda, delectus minima beatae officia magnam non est iste? Fugiat error nulla nihil repellendus! Suscipit.</div>
                <div class="job-card__content__info__origin">Hospedeiras de Portugal</div>
              </div>
              <div class="col-4 job-card__content__action-big">
                <button type="button" class="btn btn-js-cta btn-block disabled">Mismatch</button>
              </div>
              <div class="col-6 job-card__content__type">
                <div class="row no-gutters">
                  <div class="col job-card__content__type__info job-card__content__type__info--date">Fri 24 Dec</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--time">Morning Evening</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--gender">Female</div>
                </div>
              </div>
              <div class="col-6 job-card__content__actions">
                <button type="button" class="btn btn-light action action-share">Share</button>
                <button type="button" class="btn btn-light action action-like">Like</button>
                <button type="button" class="btn btn-light btn-edit">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- AGENCY -->
  <h3>Job <span>(agency)</span></h3>
  <div id="job-agency" class="doc-content__block doc-content__block--no-pad">
    <div class="mq-container">

      <div class="job-card job-card--agency job-card--color night">
        <div class="row no-gutters">

          <div class="col job-card__sidebar">
            <div class="job-card__sidebar__price">
              <div class="job-card__sidebar__price__flat">160</div>
              <div class="job-card__sidebar__price__hour">10€/h</div>
            </div>
            <div class="job-card__sidebar__time">16 Hours</div>
          </div>

          <div class="col job-card__content">
            <div class="row no-gutters">
              <div class="col-8 job-card__content__info">
                <div class="job-card__content__info__title">Vila Nova de Gaia</div>
                <div class="job-card__content__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quae deserunt dolorem optio illum sint, fugiat. Repellat dicta mollitia nisi, perferendis dolorum cumque doloremque voluptas veritatis ullam porro ab eius quisquam. Minus soluta ipsam, dicta assumenda, delectus minima beatae officia magnam non est iste? Fugiat error nulla nihil repellendus! Suscipit.</div>
                <div class="job-card__content__info__origin">Hospedeiras de Portugal</div>
              </div>
              <div class="col-4 job-card__content__action-big">
                <button type="button" class="btn btn-js-cta btn-block">Share</button>
              </div>
              <div class="col-6 job-card__content__type">
                <div class="row no-gutters">
                  <div class="col job-card__content__type__info job-card__content__type__info--date">Fri 24 Dec</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--time">Morning Evening</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--gender">Female</div>
                </div>
              </div>
              <div class="col-6 job-card__content__actions">
                <button type="button" class="btn btn-light action action-share">Share</button>
                <button type="button" class="btn btn-light action action-like">Like</button>
                <button type="button" class="btn btn-light btn-edit">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- AGENCY WHEN OUR JOBJOB -->
  <h3>Job <span>(agency when our job)</span></h3>
  <div id="job-agency-when-our-job" class="doc-content__block doc-content__block--no-pad">
    <div class="mq-container">

      <div class="job-card job-card--agency job-card--agency-job job-card--color night">
        <div class="row no-gutters">

          <div class="col job-card__sidebar">
            <div class="job-card__sidebar__price">
              <div class="job-card__sidebar__price__flat">160</div>
              <div class="job-card__sidebar__price__hour">10€/h</div>
            </div>
            <div class="job-card__sidebar__time">16 Hours</div>
          </div>

          <div class="col job-card__content">
            <div class="row no-gutters">
              <div class="col-8 job-card__content__info">
                <div class="job-card__content__info__title">Vila Nova de Gaia</div>
                <div class="job-card__content__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quae deserunt dolorem optio illum sint, fugiat. Repellat dicta mollitia nisi, perferendis dolorum cumque doloremque voluptas veritatis ullam porro ab eius quisquam. Minus soluta ipsam, dicta assumenda, delectus minima beatae officia magnam non est iste? Fugiat error nulla nihil repellendus! Suscipit.</div>
                <div class="job-card__content__info__origin">Hospedeiras de Portugal</div>
              </div>
              <div class="col-4 job-card__content__action-big">
                <button type="button" class="btn btn-js-cta btn-block">Share</button>
              </div>
              <div class="col-6 job-card__content__type">
                <div class="row no-gutters">
                  <div class="col job-card__content__type__info job-card__content__type__info--date">Fri 24 Dec</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--time">Morning Evening</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--gender">Female</div>
                </div>
              </div>
              <div class="col-6 job-card__content__actions">
                <button type="button" class="btn btn-light action action-share">Share</button>
                <button type="button" class="btn btn-light action action-like">Like</button>
                <button type="button" class="btn btn-light btn-edit">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <h1>#Job Themes</h1>

  <!-- JOB - NIGHT -->
  <h3>Job <span>(night)</span></h3>
  <div id="jobseeker-and-non-autenticated" class="doc-content__block doc-content__block--no-pad">
    <div class="mq-container">

      <div class="job-card job-card--color night">
        <div class="row no-gutters">

          <div class="col job-card__sidebar">
            <div class="job-card__sidebar__price">
              <div class="job-card__sidebar__price__flat">160</div>
              <div class="job-card__sidebar__price__hour">10€/h</div>
            </div>
            <div class="job-card__sidebar__time">16 Hours</div>
          </div>

          <div class="col job-card__content">
            <div class="row no-gutters">
              <div class="col-8 job-card__content__info">
                <div class="job-card__content__info__title">Vila Nova de Gaia</div>
                <div class="job-card__content__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quae deserunt dolorem optio illum sint, fugiat. Repellat dicta mollitia nisi, perferendis dolorum cumque doloremque voluptas veritatis ullam porro ab eius quisquam. Minus soluta ipsam, dicta assumenda, delectus minima beatae officia magnam non est iste? Fugiat error nulla nihil repellendus! Suscipit.</div>
                <div class="job-card__content__info__origin">Hospedeiras de Portugal</div>
              </div>
              <div class="col-4 job-card__content__action-big">
                <button type="button" class="btn btn-js-cta btn-block">Apply Now</button>
              </div>
              <div class="col-6 job-card__content__type">
                <div class="row no-gutters">
                  <div class="col job-card__content__type__info job-card__content__type__info--date">Fri 24 Dec</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--time">Morning Evening</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--gender">Female</div>
                </div>
              </div>
              <div class="col-6 job-card__content__actions">
                <button type="button" class="btn btn-light action action-share">Share</button>
                <button type="button" class="btn btn-light action action-like">Like</button>
                <button type="button" class="btn btn-light btn-edit">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- JOB - EVENING -->
  <h3>Job <span>(afternoon)</span></h3>
  <div id="jobseeker-and-non-autenticated" class="doc-content__block doc-content__block--no-pad">
    <div class="mq-container">

      <div class="job-card job-card--color afternoon">
        <div class="row no-gutters">

          <div class="col job-card__sidebar">
            <div class="job-card__sidebar__price">
              <div class="job-card__sidebar__price__flat">160</div>
              <div class="job-card__sidebar__price__hour">10€/h</div>
            </div>
            <div class="job-card__sidebar__time">16 Hours</div>
          </div>

          <div class="col job-card__content">
            <div class="row no-gutters">
              <div class="col-8 job-card__content__info">
                <div class="job-card__content__info__title">Vila Nova de Gaia</div>
                <div class="job-card__content__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quae deserunt dolorem optio illum sint, fugiat. Repellat dicta mollitia nisi, perferendis dolorum cumque doloremque voluptas veritatis ullam porro ab eius quisquam. Minus soluta ipsam, dicta assumenda, delectus minima beatae officia magnam non est iste? Fugiat error nulla nihil repellendus! Suscipit.</div>
                <div class="job-card__content__info__origin">Hospedeiras de Portugal</div>
              </div>
              <div class="col-4 job-card__content__action-big">
                <button type="button" class="btn btn-js-cta btn-block">Apply Now</button>
              </div>
              <div class="col-6 job-card__content__type">
                <div class="row no-gutters">
                  <div class="col job-card__content__type__info job-card__content__type__info--date">Fri 24 Dec</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--time">Morning Evening</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--gender">Female</div>
                </div>
              </div>
              <div class="col-6 job-card__content__actions">
                <button type="button" class="btn btn-light action action-share">Share</button>
                <button type="button" class="btn btn-light action action-like">Like</button>
                <button type="button" class="btn btn-light btn-edit">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- JOB - MORNING -->
  <h3>Job <span>(morning)</span></h3>
  <div id="jobseeker-and-non-autenticated" class="doc-content__block doc-content__block--no-pad">
    <div class="mq-container">

      <div class="job-card job-card--color morning">
        <div class="row no-gutters">

          <div class="col job-card__sidebar">
            <div class="job-card__sidebar__price">
              <div class="job-card__sidebar__price__flat">160</div>
              <div class="job-card__sidebar__price__hour">10€/h</div>
            </div>
            <div class="job-card__sidebar__time">16 Hours</div>
          </div>

          <div class="col job-card__content">
            <div class="row no-gutters">
              <div class="col-8 job-card__content__info">
                <div class="job-card__content__info__title">Vila Nova de Gaia</div>
                <div class="job-card__content__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quae deserunt dolorem optio illum sint, fugiat. Repellat dicta mollitia nisi, perferendis dolorum cumque doloremque voluptas veritatis ullam porro ab eius quisquam. Minus soluta ipsam, dicta assumenda, delectus minima beatae officia magnam non est iste? Fugiat error nulla nihil repellendus! Suscipit.</div>
                <div class="job-card__content__info__origin">Hospedeiras de Portugal</div>
              </div>
              <div class="col-4 job-card__content__action-big">
                <button type="button" class="btn btn-js-cta btn-block">Apply Now</button>
              </div>
              <div class="col-6 job-card__content__type">
                <div class="row no-gutters">
                  <div class="col job-card__content__type__info job-card__content__type__info--date">Fri 24 Dec</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--time">Morning Evening</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--gender">Female</div>
                </div>
              </div>
              <div class="col-6 job-card__content__actions">
                <button type="button" class="btn btn-light action action-share">Share</button>
                <button type="button" class="btn btn-light action action-like">Like</button>
                <button type="button" class="btn btn-light btn-edit">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- JOB - WHITE -->
  <h3>Job <span>(white)</span></h3>
  <div id="buttons" class="doc-content__block doc-content__block--no-pad">
    <div class="mq-container">

      <div class="job-card job-card--white">
        <div class="row no-gutters">
          <div class="col job-card__sidebar">
            <div class="job-card__sidebar__price">
              <div class="job-card__sidebar__price__flat">160</div>
              <div class="job-card__sidebar__price__hour">10€/h</div>
            </div>
            <div class="job-card__sidebar__time">16 Hours</div>
          </div>

          <div class="col job-card__content">
            <div class="row no-gutters">
              <div class="col-8 job-card__content__info">
                <div class="job-card__content__info__title">Vila Nova de Gaia</div>
                <div class="job-card__content__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quae deserunt dolorem optio illum sint, fugiat. Repellat dicta mollitia nisi, perferendis dolorum cumque doloremque voluptas veritatis ullam porro ab eius quisquam. Minus soluta ipsam, dicta assumenda, delectus minima beatae officia magnam non est iste? Fugiat error nulla nihil repellendus! Suscipit.</div>
                <div class="job-card__content__info__origin">Hospedeiras de Portugal</div>
              </div>
              <div class="col-4 job-card__content__action-big">
                <button type="button" class="btn btn-js-cta btn-block">Apply Now</button>
              </div>
              <div class="col-6 job-card__content__type">
                <div class="row no-gutters">
                  <div class="col job-card__content__type__info job-card__content__type__info--date">Fri 24 Dec</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--time">Morning Evening</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--gender">Female</div>
                </div>
              </div>
              <div class="col-6 job-card__content__actions">
                <button type="button" class="btn btn-light action action-share">Share</button>
                <button type="button" class="btn btn-light action action-like">Edit</button>
                <!-- <button type="button" class="btn btn-light">Edit</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <!-- JOB - GRAY -->
  <h3>Job <span>(WHITE)</span></h3>
  <div id="buttons" class="doc-content__block doc-content__block--no-pad">
    <div class="mq-container">

      <div class="job-card job-card--gray">
        <div class="row no-gutters">
          <div class="col job-card__sidebar">
            <div class="job-card__sidebar__price">
              <div class="job-card__sidebar__price__flat">160</div>
              <div class="job-card__sidebar__price__hour">10€/h</div>
            </div>
            <div class="job-card__sidebar__time">16 Hours</div>
          </div>
          <div class="col job-card__content">
            <div class="row no-gutters">
              <div class="col-8 job-card__content__info">
                <div class="job-card__content__info__title">Vila Nova de Gaia</div>
                <div class="job-card__content__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quae deserunt dolorem optio illum sint, fugiat. Repellat dicta mollitia nisi, perferendis dolorum cumque doloremque voluptas veritatis ullam porro ab eius quisquam. Minus soluta ipsam, dicta assumenda, delectus minima beatae officia magnam non est iste? Fugiat error nulla nihil repellendus! Suscipit.</div>
                <div class="job-card__content__info__origin">Hospedeiras de Portugal</div>
              </div>
              <div class="col-4 job-card__content__action-big">
                <button type="button" class="btn btn-js-cta btn-block">Apply Now</button>
              </div>
              <div class="col-6 job-card__content__type">
                <div class="row no-gutters">
                  <div class="col job-card__content__type__info job-card__content__type__info--date">Fri 24 Dec</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--time">Morning Evening</div>
                  <div class="col job-card__content__type__info job-card__content__type__info--gender">Female</div>
                </div>
              </div>
              <div class="col-6 job-card__content__actions">
                <button type="button" class="btn btn-light action action-share">Share</button>
                <button type="button" class="btn btn-light action action-like">Edit</button>
                <!-- <button type="button" class="btn btn-light">Edit</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
