<!-- JOBSEEKER & NON AUTENTICATED -->
<div id="jobseeker-and-non-autenticated" class="doc-content__block doc-content__block--no-pad">
  <h1>#Jobseeker and non Autenticated</h1>
  <div class="mq-container">
    <div class="job-card job-card--color">
      <div class="row no-gutters">

        <div class="col job-card__sidebar">
          <div class="job-card__sidebar__price">
            <div class="job-card__sidebar__price__flat">160</div>
            <div class="job-card__sidebar__price__hour">10€ / h</div>
          </div>
          <div class="job-card__sidebar__time">16 Hours</div>
        </div>

        <div class="col job-card__content">
          <div class="row no-gutters">
            <div class="col-8 job-card__content__info">
              <div class="job-card__content__info__title">Vila Nova de Gaia</div>
              <div class="job-card__content__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quae deserunt dolorem optio illum sint, fugiat. Repellat dicta mollitia nisi, perferendis dolorum cumque doloremque voluptas veritatis ullam porro ab eius quisquam. Minus soluta ipsam, dicta assumenda, delectus minima beatae officia magnam non est iste? Fugiat error nulla nihil repellendus! Suscipit.</div>
              <div class="job-card__content__info__origin">Hospedeiras de Portugal</div>
            </div>
            <div class="col-4 job-card__content__action-big">
              <button type="button" class="btn btn-js-cta btn-block">Apply Now</button>
            </div>
            <div class="col-6 job-card__content__type">
              <div class="row no-gutters">
                <div class="col job-card__content__type__info job-card__content__type__info--date">Fri 24 Dec</div>
                <div class="col job-card__content__type__info job-card__content__type__info--time">Morning Evening</div>
                <div class="col job-card__content__type__info job-card__content__type__info--gender">Female</div>
              </div>
            </div>
            <div class="col-6 job-card__content__actions">
              <button type="button" class="btn btn-light action action-share">Share</button>
              <button type="button" class="btn btn-light action action-like">Like</button>
              <button type="button" class="btn btn-light btn-edit">Edit</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- JOBSEEKER AND NON AUTENTICATED - MISSMATCH -->
<div id="jobseeker-and-non-autenticated-mismatch" class="doc-content__block doc-content__block--no-pad">
  <h1>#Jobseeker and non Autenticated <span>(mismatch)</span></h1>
  <div class="mq-container">
    <div class="job-card job-card--color">
      <div class="row no-gutters">

        <div class="col job-card__sidebar">
          <div class="job-card__sidebar__price">
            <div class="job-card__sidebar__price__flat">160</div>
            <div class="job-card__sidebar__price__hour">10€ / h</div>
          </div>
          <div class="job-card__sidebar__time">16 Hours</div>
        </div>

        <div class="col job-card__content">
          <div class="row no-gutters">
            <div class="col-8 job-card__content__info">
              <div class="job-card__content__info__title">Vila Nova de Gaia</div>
              <div class="job-card__content__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quae deserunt dolorem optio illum sint, fugiat. Repellat dicta mollitia nisi, perferendis dolorum cumque doloremque voluptas veritatis ullam porro ab eius quisquam. Minus soluta ipsam, dicta assumenda, delectus minima beatae officia magnam non est iste? Fugiat error nulla nihil repellendus! Suscipit.</div>
              <div class="job-card__content__info__origin">Hospedeiras de Portugal</div>
            </div>
            <div class="col-4 job-card__content__action-big">
              <button type="button" class="btn btn-js-cta btn-block disabled">Mismatch</button>
            </div>
            <div class="col-6 job-card__content__type">
              <div class="row no-gutters">
                <div class="col job-card__content__type__info job-card__content__type__info--date">Fri 24 Dec</div>
                <div class="col job-card__content__type__info job-card__content__type__info--time">Morning Evening</div>
                <div class="col job-card__content__type__info job-card__content__type__info--gender">Female</div>
              </div>
            </div>
            <div class="col-6 job-card__content__actions">
              <button type="button" class="btn btn-light action action-share">Share</button>
              <button type="button" class="btn btn-light action action-like">Like</button>
              <button type="button" class="btn btn-light btn-edit">Edit</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- AGENCY -->
<div id="agency" class="doc-content__block doc-content__block--no-pad">
  <h1>#Agency</h1>
  <div class="mq-container">
    <div class="job-card job-card--agency job-card--color">
      <div class="row no-gutters">

        <div class="col job-card__sidebar">
          <div class="job-card__sidebar__price">
            <div class="job-card__sidebar__price__flat">160</div>
            <div class="job-card__sidebar__price__hour">10€ / h</div>
          </div>
          <div class="job-card__sidebar__time">16 Hours</div>
        </div>

        <div class="col job-card__content">
          <div class="row no-gutters">
            <div class="col-8 job-card__content__info">
              <div class="job-card__content__info__title">Vila Nova de Gaia</div>
              <div class="job-card__content__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quae deserunt dolorem optio illum sint, fugiat. Repellat dicta mollitia nisi, perferendis dolorum cumque doloremque voluptas veritatis ullam porro ab eius quisquam. Minus soluta ipsam, dicta assumenda, delectus minima beatae officia magnam non est iste? Fugiat error nulla nihil repellendus! Suscipit.</div>
              <div class="job-card__content__info__origin">Hospedeiras de Portugal</div>
            </div>
            <div class="col-4 job-card__content__action-big">
              <button type="button" class="btn btn-js-cta btn-block">Share</button>
            </div>
            <div class="col-6 job-card__content__type">
              <div class="row no-gutters">
                <div class="col job-card__content__type__info job-card__content__type__info--date">Fri 24 Dec</div>
                <div class="col job-card__content__type__info job-card__content__type__info--time">Morning Evening</div>
                <div class="col job-card__content__type__info job-card__content__type__info--gender">Female</div>
              </div>
            </div>
            <div class="col-6 job-card__content__actions">
              <button type="button" class="btn btn-light action action-share">Share</button>
              <button type="button" class="btn btn-light action action-like">Like</button>
              <button type="button" class="btn btn-light btn-edit">Edit</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- AGENCY JOB -->
<div id="agency-job" class="doc-content__block doc-content__block--no-pad">
  <h1>#Agency Job</h1>
  <div class="mq-container">
    <div class="job-card job-card--agency job-card--agency-job job-card--color">
      <div class="row no-gutters">

        <div class="col job-card__sidebar">
          <div class="job-card__sidebar__price">
            <div class="job-card__sidebar__price__flat">160</div>
            <div class="job-card__sidebar__price__hour">10€ / h</div>
          </div>
          <div class="job-card__sidebar__time">16 Hours</div>
        </div>

        <div class="col job-card__content">
          <div class="row no-gutters">
            <div class="col-8 job-card__content__info">
              <div class="job-card__content__info__title">Vila Nova de Gaia</div>
              <div class="job-card__content__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quae deserunt dolorem optio illum sint, fugiat. Repellat dicta mollitia nisi, perferendis dolorum cumque doloremque voluptas veritatis ullam porro ab eius quisquam. Minus soluta ipsam, dicta assumenda, delectus minima beatae officia magnam non est iste? Fugiat error nulla nihil repellendus! Suscipit.</div>
              <div class="job-card__content__info__origin">Hospedeiras de Portugal</div>
            </div>
            <div class="col-4 job-card__content__action-big">
              <button type="button" class="btn btn-js-cta btn-block">Share</button>
            </div>
            <div class="col-6 job-card__content__type">
              <div class="row no-gutters">
                <div class="col job-card__content__type__info job-card__content__type__info--date">Fri 24 Dec</div>
                <div class="col job-card__content__type__info job-card__content__type__info--time">Morning Evening</div>
                <div class="col job-card__content__type__info job-card__content__type__info--gender">Female</div>
              </div>
            </div>
            <div class="col-6 job-card__content__actions">
              <button type="button" class="btn btn-light action action-share">Share</button>
              <button type="button" class="btn btn-light action action-like">Like</button>
              <button type="button" class="btn btn-light btn-edit">Edit</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>









<!-- AGENCY -->
<div id="buttons" class="doc-content__block doc-content__block--no-pad">
  <h1>#Agency</h1>
  <div class="mq-container">
    <div class="job-card job-card--white">
      <div class="row no-gutters">

        <div class="col job-card__sidebar">
          <div class="job-card__sidebar__price">
            <div class="job-card__sidebar__price__flat">160</div>
            <div class="job-card__sidebar__price__hour">10€ / h</div>
          </div>
          <div class="job-card__sidebar__time">16 Hours</div>
        </div>

        <div class="col job-card__content">
          <div class="row no-gutters">
            <div class="col-8 job-card__content__info">
              <div class="job-card__content__info__title">Vila Nova de Gaia</div>
              <div class="job-card__content__info__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam quae deserunt dolorem optio illum sint, fugiat. Repellat dicta mollitia nisi, perferendis dolorum cumque doloremque voluptas veritatis ullam porro ab eius quisquam. Minus soluta ipsam, dicta assumenda, delectus minima beatae officia magnam non est iste? Fugiat error nulla nihil repellendus! Suscipit.</div>
              <div class="job-card__content__info__origin">Hospedeiras de Portugal</div>
            </div>
            <div class="col-4 job-card__content__action-big">
              <button type="button" class="btn btn-js-cta btn-block">Apply Now</button>
            </div>
            <div class="col-6 job-card__content__type">
              <div class="row no-gutters">
                <div class="col job-card__content__type__info job-card__content__type__info--date">Fri 24 Dec</div>
                <div class="col job-card__content__type__info job-card__content__type__info--time">Morning Evening</div>
                <div class="col job-card__content__type__info job-card__content__type__info--gender">Female</div>
              </div>
            </div>
            <div class="col-6 job-card__content__actions">
              <button type="button" class="btn btn-light action action-share">Share</button>
              <button type="button" class="btn btn-light action action-like">Edit</button>
              <!-- <button type="button" class="btn btn-light">Edit</button> -->
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
