<!-- AVATAR -->
<div id="avatar" class="doc-content__block">
  <h1>#Avatar</h1>

  <h3>Avatar Huge <span>(unlock)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <div class="avatar avatar-huge">
              <div class="row no-gutters">
                <div class="col-md-3 avatar-img-primary">
                  <a href="#">
                    <img src="https://pbs.twimg.com/profile_images/421772280805351424/rSlotRy2.jpeg">
                  </a>
                </div>

                <div class="col-md-3 avatar-img-secondary">
                  <img src="https://i.pinimg.com/originals/81/0c/2a/810c2a2c77129d2fe5dcbd624d42a538.jpg">
                </div>

                <div class="col-md-6 avatar-info">
                  <a href="#" class="avatar-info__name">Adriana Lima</a>
                  <star-rating-comp [starType]="'svg'" [labelPosition]="'right'" [size]="'small'" [rating]="3" [labelText]="'34'"></star-rating-comp>

                  <div class="avatar-info__where">Lisbon</div>
                  <div class="avatar-info__time">2 Hours ago - Login</div>

                  <button type="button" class="btn btn-success btn-small btn-icon-left-unlock unlock">Unlock</button>
                  <!-- <button type="button" class="btn btn-success btn-small invite">Invite to Job</button> -->

                  <!-- <a class="avatar-info__tel" href="tel:000000000">+351 965 083 685</a> -->
                  <!-- <a class="avatar-info__email" href="mailto:user@email.com">user@email.com</a> -->
                </div>
              </div>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Avatar Huge <span>(invite)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <div class="avatar avatar-huge">
              <div class="row no-gutters">
                <div class="col-md-3 avatar-img-primary">
                  <a href="#">
                    <img src="https://pbs.twimg.com/profile_images/421772280805351424/rSlotRy2.jpeg">
                  </a>
                </div>

                <div class="col-md-3 avatar-img-secondary">
                  <img src="https://i.pinimg.com/originals/81/0c/2a/810c2a2c77129d2fe5dcbd624d42a538.jpg">
                </div>

                <div class="col-md-6 avatar-info">
                  <a href="#" class="avatar-info__name">Adriana Lima</a>
                  <star-rating-comp [starType]="'svg'" [labelPosition]="'right'" [size]="'small'" [rating]="3" [labelText]="'34'"></star-rating-comp>

                  <div class="avatar-info__where">Lisbon</div>
                  <div class="avatar-info__time">2 Hours ago - Login</div>

                  <!-- <button type="button" class="btn btn-success btn-small btn-icon-left-unlock unlock">Unlock</button> -->
                  <button type="button" class="btn btn-success btn-small invite">Invite to Job</button>

                  <!-- <a class="avatar-info__tel" href="tel:000000000">+351 965 083 685</a> -->
                  <!-- <a class="avatar-info__email" href="mailto:user@email.com">user@email.com</a> -->
                </div>
              </div>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Avatar Huge <span>(email)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <div class="avatar avatar-huge">
              <div class="row no-gutters">
                <div class="col-md-3 avatar-img-primary">
                  <a href="#">
                    <img src="https://pbs.twimg.com/profile_images/421772280805351424/rSlotRy2.jpeg">
                  </a>
                </div>

                <div class="col-md-3 avatar-img-secondary">
                  <img src="https://i.pinimg.com/originals/81/0c/2a/810c2a2c77129d2fe5dcbd624d42a538.jpg">
                </div>

                <div class="col-md-6 avatar-info">
                  <a href="#" class="avatar-info__name">Adriana Lima</a>
                  <star-rating-comp [starType]="'svg'" [labelPosition]="'right'" [size]="'small'" [rating]="3" [labelText]="'34'"></star-rating-comp>

                  <div class="avatar-info__where">Lisbon</div>
                  <div class="avatar-info__time">2 Hours ago - Login</div>

                  <!-- <button type="button" class="btn btn-success btn-small btn-icon-left-unlock unlock">Unlock</button> -->
                  <!-- <button type="button" class="btn btn-success btn-small invite">Invite to Job</button> -->

                  <!-- <a class="avatar-info__tel" href="tel:000000000">+351 965 083 685</a> -->
                  <a class="avatar-info__email" href="mailto:user@email.com">user@email.com</a>
                </div>
              </div>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Avatar Huge <span>(tel)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <div class="avatar avatar-huge">
              <div class="row no-gutters">
                <div class="col-md-3 avatar-img-primary">
                  <a href="#">
                    <img src="https://pbs.twimg.com/profile_images/421772280805351424/rSlotRy2.jpeg">
                  </a>
                </div>

                <div class="col-md-3 avatar-img-secondary">
                  <img src="https://i.pinimg.com/originals/81/0c/2a/810c2a2c77129d2fe5dcbd624d42a538.jpg">
                </div>

                <div class="col-md-6 avatar-info">
                  <a href="#" class="avatar-info__name">Adriana Lima</a>
                  <star-rating-comp [starType]="'svg'" [labelPosition]="'right'" [size]="'small'" [rating]="3" [labelText]="'34'"></star-rating-comp>

                  <div class="avatar-info__where">Lisbon</div>
                  <div class="avatar-info__time">2 Hours ago - Login</div>

                  <!-- <button type="button" class="btn btn-success btn-small btn-icon-left-unlock unlock">Unlock</button> -->
                  <!-- <button type="button" class="btn btn-success btn-small invite">Invite to Job</button> -->

                  <a class="avatar-info__tel" href="tel:000000000">+351 965 083 685</a>
                  <!-- <a class="avatar-info__email" href="mailto:user@email.com">user@email.com</a> -->
                </div>
              </div>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>#Avatar Huge <span>(mobile)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <div class="avatar avatar-huge mobile">
              <div class="row no-gutters">
                <div class="col-md-3 avatar-img-primary">
                  <a href="#">
                    <img src="https://pbs.twimg.com/profile_images/421772280805351424/rSlotRy2.jpeg">
                  </a>
                </div>

                <div class="col-md-3 avatar-img-secondary">
                  <img src="https://i.pinimg.com/originals/81/0c/2a/810c2a2c77129d2fe5dcbd624d42a538.jpg">
                </div>

                <div class="col-md-6 avatar-info">
                  <a href="#" class="avatar-info__name">Adriana Lima</a>
                  <star-rating-comp [starType]="'svg'" [labelPosition]="'right'" [size]="'small'" [rating]="3" [labelText]="'34'"></star-rating-comp>

                  <div class="avatar-info__where">Lisbon</div>
                  <div class="avatar-info__time">2 Hours ago - Login</div>

                  <button type="button" class="btn btn-success btn-small btn-icon-left-unlock unlock">Unlock</button>
                  <!-- <button type="button" class="btn btn-success btn-small invite">Invite to Job</button> -->

                  <!-- <a class="avatar-info__tel" href="tel:000000000">+351 965 083 685</a> -->
                  <!-- <a class="avatar-info__email" href="mailto:user@email.com">user@email.com</a> -->
                </div>
              </div>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>#Avatar Big</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <div class="avatar avatar-big">
              <div class="row no-gutters">
                <div class="col-md-3 avatar-img-primary">
                  <a href="#">
                    <img src="https://pbs.twimg.com/profile_images/421772280805351424/rSlotRy2.jpeg">
                  </a>
                </div>

                <div class="col-md-3 avatar-img-secondary">
                  <img src="https://i.pinimg.com/originals/81/0c/2a/810c2a2c77129d2fe5dcbd624d42a538.jpg">
                </div>

                <div class="col-md-6 avatar-info">
                  <a href="#" class="avatar-info__name">Adriana Lima</a>
                  <star-rating-comp [starType]="'svg'" [labelPosition]="'right'" [size]="'small'" [rating]="3" [labelText]="'34'"></star-rating-comp>

                  <div class="avatar-info__where">Lisbon</div>
                  <div class="avatar-info__time">2 Hours ago - Login</div>

                  <button type="button" class="btn btn-success btn-small btn-icon-left-unlock unlock">Unlock</button>
                  <!-- <button type="button" class="btn btn-success btn-small invite">Invite to Job</button> -->

                  <!-- <a class="avatar-info__tel" href="tel:000000000">+351 965 083 685</a> -->
                  <!-- <a class="avatar-info__email" href="mailto:user@email.com">user@email.com</a> -->
                </div>
              </div>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>#Avatar Big <span>(mobile)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <div class="avatar avatar-big mobile">
              <div class="row no-gutters">
                <div class="col-md-3 avatar-img-primary">
                  <a href="#">
                    <img src="https://pbs.twimg.com/profile_images/421772280805351424/rSlotRy2.jpeg">
                  </a>
                </div>

                <div class="col-md-3 avatar-img-secondary">
                  <img src="https://i.pinimg.com/originals/81/0c/2a/810c2a2c77129d2fe5dcbd624d42a538.jpg">
                </div>

                <div class="col-md-6 avatar-info">
                  <a href="#" class="avatar-info__name">Adriana Lima</a>
                  <star-rating-comp [starType]="'svg'" [labelPosition]="'right'" [size]="'small'" [rating]="3" [labelText]="'34'"></star-rating-comp>

                  <div class="avatar-info__where">Lisbon</div>
                  <div class="avatar-info__time">2 Hours ago - Login</div>

                  <button type="button" class="btn btn-success btn-small btn-icon-left-unlock unlock">Unlock</button>
                  <!-- <button type="button" class="btn btn-success btn-small invite">Invite to Job</button> -->

                  <!-- <a class="avatar-info__tel" href="tel:000000000">+351 965 083 685</a> -->
                  <!-- <a class="avatar-info__email" href="mailto:user@email.com">user@email.com</a> -->
                </div>
              </div>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>#Avatar Small</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <div class="avatar avatar-small">
              <div class="row no-gutters">
                <div class="col-md-3 avatar-img-primary">
                  <a href="#">
                    <img src="https://pbs.twimg.com/profile_images/421772280805351424/rSlotRy2.jpeg">
                  </a>
                </div>

                <div class="col-md-3 avatar-img-secondary">
                  <img src="https://i.pinimg.com/originals/81/0c/2a/810c2a2c77129d2fe5dcbd624d42a538.jpg">
                </div>

                <div class="col-md-6 avatar-info">
                  <a href="#" class="avatar-info__name">Adriana Lima</a>
                  <star-rating-comp [starType]="'svg'" [labelPosition]="'right'" [size]="'small'" [rating]="3" [labelText]="'34'"></star-rating-comp>

                  <div class="avatar-info__where">Lisbon</div>
                  <div class="avatar-info__time">2 Hours ago - Login</div>

                  <button type="button" class="btn btn-success btn-small btn-icon-left-unlock unlock">Unlock</button>
                  <!-- <button type="button" class="btn btn-success btn-small invite">Invite to Job</button> -->

                  <!-- <a class="avatar-info__tel" href="tel:000000000">+351 965 083 685</a> -->
                  <!-- <a class="avatar-info__email" href="mailto:user@email.com">user@email.com</a> -->
                </div>
              </div>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>#Avatar Small</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <div class="avatar circle">
              <div class="row no-gutters">
                <div class="col-md-3 avatar-img-primary">
                  <a href="#">
                    <img src="https://pbs.twimg.com/profile_images/421772280805351424/rSlotRy2.jpeg">
                  </a>
                </div>

                <div class="col-md-6 avatar-info">
                  <a href="#" class="avatar-info__name">Adriana Lima</a>
                </div>
              </div>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>#Avatar Small <span>(photo)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <div class="avatar circle">
              <div class="row no-gutters">
                <div class="col-md-3 avatar-img-primary">
                  <a href="#">
                    <img src="https://pbs.twimg.com/profile_images/421772280805351424/rSlotRy2.jpeg">
                  </a>
                </div>
              </div>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
