<!-- MODALS -->
<div id="modals" class="doc-content__block">
  <h1>#Modals</h1>
  <a class="ext-doc ext-doc--bootstrap" href="https://getbootstrap.com/docs/4.0/components/modal/" target="_blank">Modals</a>
  <a class="ext-doc ext-doc--ngx" href="https://valor-software.com/ngx-bootstrap/#/modals" target="_blank">Modals</a>

  <h3>Message with Confirmation</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <button class="btn btn-primary btn-small" (click)="openModal(modMessageConf)">Open Default Modal</button>

            <ng-template #modMessageConf>
              <div class="modal-header">
                <h4 class="modal-title">This is a title</h4>
                <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"></button>
              </div>
              <div class="modal-body">
                <p>This is a Small Body text: But I must explain to you how all this mistaken idea of denouncing pleasure and praising  explorer of the truth, the master-builder of human happiness.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-ghost-primary btn-small action action-cancel" (click)="decline()">Cancel</button>
                <button type="button" class="btn btn-ag-cta btn-small action action-submit" (click)="confirm()">Confirm</button>
              </div>
            </ng-template>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ modalsMessageWithConformation }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Alert with Confirmation</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <button class="btn btn-primary btn-small" (click)="openModal(modCustomContent, 'modal-dialog-alert')">Open Alert Modal</button>

            <ng-template #modCustomContent>
              <div class="modal-header">
                <h4 class="modal-title">Warning!</h4>
                <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"></button>
              </div>
              <div class="modal-body">
                <p>This action is not reversible.</p>
                <p>Are you sure you want to proceed?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-ghost-primary btn-small action action-cancel" (click)="decline()">Cancel</button>
                <button type="button" class="btn btn-warning btn-small action action-submit" (click)="confirm()">Confirm</button>
              </div>
            </ng-template>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ modalsAlertWithConformation }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Success Message</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <button class="btn btn-primary btn-small" (click)="openModal(modSuccess, 'modal-dialog-success')">Open Success Modal</button>

            <ng-template #modSuccess>
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"></button>
              </div>
              <div class="modal-body">
                <p><strong>Thank You!</strong> Your application was submitted successfully! Job application moved to Pending Applications under My Jobs section.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success action action-submit" (click)="confirm()">Great!</button>
              </div>
            </ng-template>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ modalsSuccessMessage }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Info Message</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <button class="btn btn-primary btn-small" (click)="openModal(modInfo, 'modal-dialog-info')">Open Info Modal</button>

            <ng-template #modInfo>
              <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()"></button>
              </div>
              <div class="modal-body">
                <p><strong>We are sorry</strong> but your profile doesn’t match the job requirements. Please take a look at our other jobs.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-gray-medium action action-submit" (click)="confirm()">Ok, I understand</button>
              </div>
            </ng-template>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ modalsInfoMessage }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Custom Content</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <button class="btn btn-primary btn-small" (click)="openModal(modAlertConf)">Custom Content</button>

            <ng-template #modAlertConf>
              <div class="modal-body">
                <h1 style="margin-top: 100px; margin-bottom: 100px; text-align: center;">Custom Content</h1>
              </div>
            </ng-template>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <ngx-prism [language]="'html'">
              {{ modalsCustomContent }}
            </ngx-prism>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
