<!-- PANELS -->
<div id="panels" class="doc-content__block">
  <h1>#Panels</h1>

  <h3>Panel Default</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <accordion>
              <accordion-group>
                <div accordion-heading style="width:100%;" class="accordion-heading accordion-icon-info">
                  <i></i>
                  <div class="panel-heading-container">
                    <div class="panel-heading-title">
                      MILKA CAMPANHA DE NATAL
                    </div>
                    <div class="panel-heading-aside">
                      5 JOBS
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary">Edit</button>
                </div>
                <p>Some content</p>
              </accordion-group>
              <accordion-group>
                <div accordion-heading style="width:100%;" class="accordion-heading accordion-icon-info">
                  <i></i>
                  <div class="panel-heading-container">
                    <div class="panel-heading-title">
                      SOME OTHER CAMPAIGN
                    </div>
                    <div class="panel-heading-aside">
                      5 JOBS
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary">Edit</button>
                </div>
                <p>Some content</p>
              </accordion-group>
            </accordion>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h3>Panel Default</h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <accordion>
              <accordion-group>
                <div accordion-heading style="width:100%;" class="accordion-heading accordion-icon-info">
                  <i></i>
                  <div class="panel-heading-container">
                    <div class="panel-heading-title">
                      MILKA CAMPANHA DE NATAL
                    </div>
                    <div class="panel-heading-aside">
                      5 JOBS
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary">Edit</button>
                </div>
                <p>Some content</p>
              </accordion-group>
              <accordion-group>
                <div accordion-heading style="width:100%;" class="accordion-heading accordion-icon-info">
                  <i></i>
                  <div class="panel-heading-container">
                    <div class="panel-heading-title">
                      SOME OTHER CAMPAIGN
                    </div>
                    <div class="panel-heading-aside">
                      5 JOBS
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary">Edit</button>
                </div>
                <p>Some content</p>
              </accordion-group>
            </accordion>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
