<!-- ACCORION -->
<div id="accordion" class="doc-content__block">
  <h1>#Accordion</h1>

  <h3>Accordion <span>(big)</span></h3>
  <div class="doc-content__block__items">
    <div class="row">
      <div class="col">
        <div class="doc-code-block">
          <div class="doc-code-block__inner doc-code-block__inner--center">

            <div class="accordion">
              <accordion>
                <accordion-group>
                  <div accordion-heading class="accordion-heading">
                    <div class="panel-heading-container">
                      <div class="panel-heading-title">Campaign 01</div>
                      <div class="panel-heading-aside">5 Jobs</div>
                    </div>
                    <button type="button" class="btn btn-small btn-primary" (click)="$event.stopPropagation();false;">Edit</button>
                  </div>
                  <p>Some content</p>
                </accordion-group>
                <accordion-group>
                  <div accordion-heading class="accordion-heading">
                    <div class="panel-heading-container">
                      <div class="panel-heading-title">Campaign 02</div>
                      <div class="panel-heading-aside">2 Jobs</div>
                    </div>
                    <button type="button" class="btn btn-small btn-primary">Edit</button>
                  </div>
                  <p>Some content</p>
                </accordion-group>
                <accordion-group>
                  <div accordion-heading class="accordion-heading">
                    <div class="panel-heading-container">
                      <div class="panel-heading-title">Campaign 03</div>
                      <div class="panel-heading-aside">7 Jobs</div>
                    </div>
                    <button type="button" class="btn btn-small btn-primary">Edit</button>
                  </div>
                  <p>Some content</p>
                </accordion-group>
              </accordion>
            </div>

          </div>
          <div class="doc-code-block__inner doc-code-block__inner--code">
            <pre>&lt;div class="<span>row</span>"&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>  &lt;div class="<span>col</span>"&gt;...&lt;/div&gt;</pre>
            <pre>&lt;/div&gt;</pre>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
